@using SFA.DAS.AdminService.Common.Extensions;
@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ApplicationSummaryViewModel

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            UKPRN
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.UKPRN
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Legal name
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.OrganisationName
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Provider route
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.ApplicationRouteShortText
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Application reference
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.ApplicationReference
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Applicant's email address
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.EmailAddress
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Application submitted date
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.SubmittedDate.ToSfaShortDateString()
        </dd>
    </div>
</dl>