@using SFA.DAS.AdminService.Common.Extensions;
@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ApplicationSummaryViewModel

@{
    ViewBag.Title = "Application withdrawn";
    Layout = "_Layout";
}

<nav>
    <ul id="navigation" class="roatp__navigation " aria-label="Top Level Navigation">
        <li class="roatp__navigation-item">
            <a class="govuk-link govuk-link--no-visited-state roatp__navigation-link--current">Application overview</a>
        </li>
        <li class="roatp__navigation-item roatp__navigation-item--signout">
            <a class="govuk-link govuk-link--no-visited-state" asp-action="SignOut" asp-controller="Users">Save and sign out</a>
        </li>
    </ul>
</nav>

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Application withdrawn
                </h1>
            </div>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        UKPRN
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.UKPRN
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Legal name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.OrganisationName
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Provider route
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ApplicationRouteShortText
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Application reference
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ApplicationReference
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Applicant's email address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmailAddress
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Application submitted date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.SubmittedDate.ToSfaShortDateString()
                    </dd>
                </div>
            </dl>
            <p class="govuk-body">
                Your application to join the register has been withdrawn at your request.
            </p>
            <h2 class="govuk-heading-m">How to reapply</h2>
            <p class="govuk-body">
                Your withdrawn application does not count towards the 1 application within a 12-month period limit. To reapply, you'll need to <a class="govuk-link govuk-link--no-visited-state" asp-action="" asp-controller="RoatpApplication">start a new application.</a>
            </p>
        </div>
    </div>
</main>