@using SFA.DAS.ApplyService.Domain.Entities
@using SFA.DAS.ApplyService.Application.Apply.Roatp
@using SFA.DAS.ApplyService.Domain.Apply
@using NPOI.SS.Formula.Functions
@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ApplicationSummaryWithModeratorDetailsViewModel

@{
    ViewBag.Title = "Application unsuccessful";
    Layout = "_Layout";

}

@section Navigation
{
    <partial name="~/Views/Application/Navigation/_ApplicationHeaderReadOnly.cshtml" />
}
<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel app-panel--error">
                <h1 class="govuk-panel__title">
                    Application unsuccessful
                </h1>
            </div>

            <partial name="~/Views/Roatp/_ApplicationDetailsTable.cshtml" model="@Model" />

            <p class="govuk-body">
                Your application to join the Register for apprenticeship training providers (RoATP) has been unsuccessful.
            </p>

            <p class="govuk-body">
                Your application has been reviewed by our team of assessors. You must pass every question for your application to be successful.
            </p>
            <p class="govuk-body">
                You may wish to <a href="https://www.gov.uk/guidance/roatp-application-guidance-digital-may-2021" target="_blank">refer to the application guidance</a> to identify opportunities where your organisation may be able to improve on its policies, processes or approach.
            </p>
        </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Feedback on your financial health assessment</h2>
            <p class="govuk-body">The outcome of your financial health assessment is: </p>
            <div class="govuk-inset-text app-inset-text--question-answer">
                <p class="govuk-heading-s">@Model.FinancialGrade</p>

                @if (Model.FinancialGrade == FinancialApplicationSelectedGrade.Inadequate)
                {
                    <h2 class="govuk-heading-m">Why your financial health assessment is inadequate</h2>
                    <p>
                        @Model.FinancialExternalComments
                    </p>
                }
            </div>
        </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
@if (!Model.ModerationPassAndApproved)
{

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Feedback on your readiness and quality assessment</h2>
            <p class="govuk-body das-multiline-text">
                @if (Model.ModerationPassOverturnedToFail)
                {
                    @Model.OversightExternalComments
                }
                else
                {
                    @Html.Raw("Your application was unsuccessful as the answer to one or more of the questions was insufficient.")
                }
            </p>

        </div>
    </div>

    @if (Model.Sequences != null)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @foreach (var sequence in Model.Sequences)
                {
                    <h3 class="govuk-heading-m">@sequence.SequenceTitle</h3>
                    foreach (var seqSection in sequence.Sections)
                    {

                        var inSectors = sequence.SequenceNumber == RoatpWorkflowSequenceIds.DeliveringApprenticeshipTraining
                                        && seqSection.SectionNumber == RoatpWorkflowSectionIds.DeliveringApprenticeshipTraining.YourSectorsAndEmployees;

                        if (inSectors)
                        {
                            <h4 class="govuk-heading-s">Sectors and employee experience</h4>
                            <div class="govuk-inset-text app-inset-text--question-answer">
                                <ul class="govuk-list app-list--bordered govuk-!-font-size-16">
                                    @foreach (var sectionPage in seqSection.Pages.OrderBy(x=>x.PageId))
                                    {
                                    <li>
                                        <a class="govuk-link" asp-action="GetSectorDetails" asp-controller="RoatpOverallOutcome" asp-route-applicationId="@Model.ApplicationId" asp-route-pageId="@sectionPage.PageId">@sectionPage.Title</a>
                                    </li>

                                    }
                                </ul>

                            </div>
                        }
                        else
                        {
                            @foreach (var sectionPage in seqSection.Pages)
                            {
                                var isTabularData = false;
                                @foreach (var dummy in from question in sectionPage.Questions
                                    from answers
                                        in sectionPage.PageOfAnswers
                                    from answer
                                        in answers.Answers.Where(x => x.QuestionId == question.QuestionId)
                                    where question.Input.Type == QuestionType.TabularData
                                    select question)
                                {
                                    isTabularData = true;
                                }


                                if (isTabularData)
                                {
                                    <h4 class="govuk-heading-s">
                                        @sectionPage.Title
                                    </h4>

                                    @foreach (var answer in from question in sectionPage.Questions
                                        from answers in sectionPage.PageOfAnswers
                                        from answer in answers.Answers.Where(x => x.QuestionId == question.QuestionId)
                                        select answer)
                                    {
                                        <partial name="~/Views/Roatp/_TabularData.cshtml" for="@answer.Value"/>
                                    }
                                }
                                else
                                {
                                    <h4 class="govuk-heading-s"> @sectionPage.Title</h4>

                                    <div class="govuk-inset-text app-inset-text--question-answer">

                                        @foreach (var question in sectionPage.Questions)
                                        {

                                            @foreach (var answers in sectionPage.PageOfAnswers)
                                            {
                                                foreach (var answer in answers.Answers.Where(x => x.QuestionId == question.QuestionId))
                                                {
                                                    @switch (question.Input.Type)
                                                    {
                                                        case QuestionType.FileUpload:
                                                            <p class="govuk-heading-s  govuk-!-margin-bottom-0"> @question.Label</p>
                                                            <div class="das-multiline-text-bottom-margin">
                                                                <a class="govuk-link" href="@Url.Action("Download", "Application", new {Id = Model.ApplicationId, sequenceNo = sequence.SequenceNumber, sectionId = seqSection.SectionNumber, pageId = sectionPage.PageId, questionId = answer.QuestionId, filename = answer.Value})">
                                                                    @answer.Value
                                                                </a>
                                                            </div>
                                                            break;
                                                        case QuestionType.CheckboxList:
                                                        case QuestionType.ComplexCheckboxList:
                                                            <p class="govuk-heading-s"> @question.Label</p>
                                                            <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                                                                @foreach (var selectedAnswer in answer.Value.Split(','))
                                                                {
                                                                    <li>@selectedAnswer</li>
                                                                }
                                                            </ul>
                                                            break;
                                                        case QuestionType.TabularData:
                                                            <p class="govuk-heading-s"> @question.Label</p>
                                                            <partial name="~/Views/Roatp/_TabularData.cshtml" for="@answer.Value"/>
                                                            break;
                                                        default:
                                                            <p class="govuk-heading-s"> @question.Label</p>
                                                            <div class="das-multiline-text-bottom-margin">@answer.Value</div>
                                                            break;
                                                    }
                                                }
                                            }

                                        }
                                        @if (Model.PagesWithGuidance != null && Model.PagesWithGuidance.Any(x => x.PageId == sectionPage.PageId))
                                        {
                                            var guidance = Model.PagesWithGuidance.FirstOrDefault(x => x.PageId == sectionPage.PageId);
                                            @if (guidance?.GuidanceInformation != null && guidance.GuidanceInformation.Count > 0)
                                            {
                                                <details class="govuk-details govuk-!-font-size-16" data-module="govuk-details">
                                                    <summary class="govuk-details__summary">
                                                        <span class="govuk-details__summary-text">
                                                            View application guidance
                                                        </span>
                                                    </summary>
                                                    <div class="govuk-details__text">
                                                        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                                                            @foreach (var guidanceText in guidance.GuidanceInformation)
                                                            {
                                                                <li>
                                                                    @Html.Raw(guidanceText)
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </details>

                                            }
                                        }
                                    </div>
                                }
                            }

                        }
                    }
                }
            </div>
        </div>
    }

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">How to make an appeal</h2>
            <p class="govuk-body">
                You can make an appeal by emailing <a href="mailto:roatp.appeals@education.gov.uk" target="_blank">roatp.appeals@education.gov.uk</a>. You’ll need to explain why your organisation is making an appeal and on what grounds.
            </p>
            <p class="govuk-body"> Your organisation can make an appeal within 10 working days of receiving this notification. ESFA will aim to review and respond within 15 working days.</p>
            <p class="govuk-body"> If your appeal is successful, your organisation will remain on the register.</p>
            <p class="govuk-body">  If your appeal is unsuccessful, or you decide not to make an appeal, ESFA will take action as explained in <a href="https://www.gov.uk/guidance/meeting-new-application-requirements-and-removal-from-register-of-apprenticeship-training-providers-roatp#consequences" target="_blank">the Consequences section</a> of the new policy.</p>
            <p class="govuk-body">    Refer to the Make an appeal section in <a href="https://www.gov.uk/guidance/roatp-application-guidance-digital-may-2021" target="_blank">the application guidance</a> for more information.</p>

            <h1 class="govuk-heading-m">How to make a complaint</h1>
            <p class="govuk-body">
                Your organisation can make a complaint by following <a href="https://www.gov.uk/government/organisations/department-for-education/about/complaints-procedure" target="_blank">DFE complaints procedure.</a>
            </p>
            <h2 class="govuk-heading-m">
                How to contact us
            </h2>
            <p class="govuk-body">You can contact the Manage apprenticeships service helpdesk on:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>08000 150 600</li>
                <li><a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk" target="_blank">helpdesk@manage-apprenticeships.service.gov.uk</a></li>
            </ul>
        </div>
    </div>

</main>