@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ApplicationSummaryViewModel

@{
    ViewBag.Title = "Application overview";
    Layout = "_Layout";
}

@{ await Html.RenderPartialAsync("~/Views/Roatp/ApplicationHeader.cshtml"); }


<div class="govuk-width-container">

    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">Application overview</h1>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationName
                        </dd>
                    </div>
                    @if (!String.IsNullOrWhiteSpace(Model.TradingName))
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Trading name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.TradingName
                            </dd>
                        </div>
                    }
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            UKPRN
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.UKPRN
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Provider route
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ApplicationRouteShortText
                        </dd>
                    </div>
                </dl>

                <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-9">
                    <h1 class="govuk-panel__title govuk-!-font-size-27">
                        Application submitted
                    </h1>
                    <h1 class="govuk-panel__title govuk-!-font-size-27">
                        Your reference number
                    </h1>
                    <h1 class="govuk-panel__title govuk-!-font-size-27">
                        @Model.ApplicationReference
                    </h1>
                </div>

                <p class="govuk-body">
                    We have sent you a confirmation email.
                </p>
                <h3 class="govuk-heading-m">What happens next</h3>
                <p class="govuk-body">
                    We have sent your application to the RoATP application assessment team.
                </p>
                <p class="govuk-body">
                    You'll need to allow at least 12 weeks for them to process your application.
                </p>
                <p class="govuk-body">
                    They will:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        check your application and the people involved in your organisation
                    </li>
                    <li>
                        tell you if your organisation has been successful or unsuccessful
                    </li>
                    <li>
                        give your organiastion a financial health grade
                    </li>
                </ul>
                <p class="govuk-body">
                    ESFA may also ask for further information on any application answers (they may fail your application if you do not comply).
                </p>
                <p class="govuk-body">
                    You'll receive an email when there's an update with your application.
                </p>
                <p class="govuk-body">
                    To make a change or withdraw your application, email <a href="mailto:roatp.SUPPORT@education.gov.uk">roatp.SUPPORT@education.gov.uk</a>.
                </p>
                <p class="govuk-body">
                    As a new apprenticeship training provider, your organisation may be inspected by Ofsted within the first 3 years of receiving funding from ESFA.
                </p>
                <p class="govuk-body">
                    To prepare for this, it should evaluate itself against:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        the <a href="https://www.gov.uk/government/publications/education-inspection-framework" target="_blank">Education Inspection Framework</a>
                    </li>
                    <li>
                        the <a href="https://www.gov.uk/government/publications/further-education-and-skills-inspection-handbook-eif" target="_blank">Further Education and Skills Inspection Handbook</a>
                    </li>
                </ul>
                <p class="govuk-body">
                    If successful, main providers will also need to ensure that apprenticeship training continuously meets local, regional and national priorities.
                </p>
                <p class="govuk-body">
                    <a href="#">What did you think of this service? (takes 30 seconds)</a>
                </p>
            </div>
        </div>
    </main>

</div>