@model SFA.DAS.ApplyService.Domain.CompaniesHouse.CompaniesHouseSummary

<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Companies House Number</p>
<p class="govuk-body">@Model.CompanyNumber</p>

<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Company type</p>
<p class="govuk-body">@Model.CompanyTypeDescription</p>

@if (Model.IncorporationDate.HasValue)
{
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Incorporation date</p>
    <p class="govuk-body">@Model.IncorporationDate.Value.ToString("dd MMM yyyy")</p>
}
@if (Model.Directors.Count > 0)
{
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Active Directors</p>
    <table class="govuk-body">
        @foreach (var director in Model.Directors)
        {
            <tr>
                <td style="padding-right: 50px;">@director.Name</td>
                @if (director.DateOfBirth.HasValue)
                {
                    <td>Date of birth @director.DateOfBirth.Value.ToString("MMM yyyy")</td>
                }
            </tr>
        }
    </table>
}
@if (Model.PersonsSignificationControl.Count > 0)
{
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Persons of significant control</p>
    <table class="govuk-body">
        @foreach (var psc in Model.PersonsSignificationControl)
        {
            <tr>
                <td style="padding-right: 50px;">@psc.Name</td>
                @if (psc.DateOfBirth.HasValue)
                {
                    <td>Date of birth @psc.DateOfBirth.Value.ToString("MMM yyyy")</td>
                }
            </tr>
        }
    </table>
}
