@using SFA.DAS.ApplyService.Application.Apply.Roatp
@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.TaskListViewModel

@{
    ViewBag.Title = "Application overview";
    Layout = "_Layout";
}

<div class="govuk-width-container">

    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Application overview</h1>
                <p class="govuk-body">
                    UKPRN: @Model.UKPRN <br/>
                    Organisation name: @Model.OrganisationName
                </p>
                <ol class="app-task-list">

                    @{
                        var yourOrganisationSequence = Model.ApplicationSequences
                            .Single(seq => (int) seq.SequenceId == RoatpWorkflowSequenceIds.YourOrganisation);

                        var sequentialSections = yourOrganisationSequence.Sections
                            .Where(section => section.SectionId != RoatpWorkflowSectionIds.YourOrganisation.ProviderRoute
                                           && section.SectionId != RoatpWorkflowSectionIds.YourOrganisation.WhatYouWillNeed
                                           && section.SectionId != RoatpWorkflowSectionIds.YourOrganisation.OrganisationDetails
                                           && section.SectionId != RoatpWorkflowSectionIds.YourOrganisation.WhosInControl);

                        var whosInControlStartPageId = RoatpWorkflowPageIds.WhosInControl.SoleTraderPartnership;
                        if (Model.VerifiedCompaniesHouse)
                        {
                            whosInControlStartPageId = RoatpWorkflowPageIds.WhosInControl.CompaniesHouseStartPage;
                        }
                        else
                        {
                            if (Model.VerifiedCharityCommision)
                            {
                                whosInControlStartPageId = RoatpWorkflowPageIds.WhosInControl.CharityCommissionStartPage;
                            }
                        }

                        <li>
                            <h2 class="app-task-list__section">
                                @Html.Raw(Convert.ToInt32(yourOrganisationSequence.SequenceId)). @Html.Raw(yourOrganisationSequence.Description)
                            </h2>

                            <ul class="app-task-list__items">
                                <li class="app-task-list__item">
                                    <a class="app-task-list__task_name" href="@Url.Action("ProviderRoute", "RoatpYourOrganisationApplication", new {applicationId = Model.ApplicationId})">Provider route</a>
                                    <strong class="govuk-tag app-task-list__task-@Model.CssClass(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.ProviderRoute, true)">@Model.SectionStatus(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.ProviderRoute, true)</strong>
                                </li>
                                <li class="app-task-list__item">
                                    <a class="app-task-list__task_name" href="@Url.Action("WhatYouWillNeed", "RoatpYourOrganisationApplication", new {applicationId = Model.ApplicationId})">Introduction and what you'll need</a>
                                    <strong class="govuk-tag app-task-list__task-@Model.CssClass(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.WhatYouWillNeed, true)">@Model.SectionStatus(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.WhatYouWillNeed, true)</strong>
                                </li>
                                <li class="app-task-list__item">
                                    @if (Model.PreviousSectionCompleted(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.OrganisationDetails, true))
                                    {
                                        <a class="app-task-list__task_name" href="@Url.Action("Section", "RoatpApplication", new { Model.ApplicationId, sequenceId = RoatpWorkflowSequenceIds.YourOrganisation, sectionId = RoatpWorkflowSectionIds.YourOrganisation.OrganisationDetails })">
                                            Organisation information
                                            <strong class="govuk-tag app-task-list__task-@Model.CssClass(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.OrganisationDetails, true)">@Model.SectionStatus(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.OrganisationDetails, true)</strong>
                                        </a>
                                    }
                                    else
                                    {
                                        @Html.Raw("Organisation information")
                                    }
                                    </li>
                                <li class="app-task-list__item">
                                    @if (Model.PreviousSectionCompleted(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.WhosInControl, true))
                                    {
                                        <a class="app-task-list__task_name" href="@Url.Action("Page", "RoatpApplication", new { Model.ApplicationId, sequenceId = RoatpWorkflowSequenceIds.YourOrganisation, sectionId = RoatpWorkflowSectionIds.YourOrganisation.WhosInControl, pageId = whosInControlStartPageId, redirectAction = "TaskList" })">
                                            Tell us who's in control
                                            <strong class="govuk-tag app-task-list__task-@Model.CssClass(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.WhosInControl, true)">@Model.SectionStatus(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.WhosInControl, true)</strong>
                                        </a>
                                    }
                                    else
                                    {
                                        @Html.Raw("Tell us who's in control")
                                    }
                                </li>

                                @foreach (var section in sequentialSections)
                                {
                                    <li class="app-task-list__item">
                                        @if (Model.PreviousSectionCompleted(section.SequenceId, section.SectionId, true))
                                        {
                                            <a class="app-task-list__task_name" href="@Url.Action("Section", "RoatpApplication", new {section.ApplicationId, section.SequenceId, section.SectionId})">
                                                @Html.Raw(section.Title)
                                                <strong class="govuk-tag app-task-list__task-@Model.CssClass(section.SequenceId, section.SectionId, true)">@Model.SectionStatus(section.SequenceId, section.SectionId, true)</strong>
                                            </a>
                                        }
                                        else
                                        {
                                            @Html.Raw(section.Title)
                                        }
                                    </li>
                                }
                                </ul>
                        </li>
                        @foreach (var applicationSequence in Model.ApplicationSequences.Where(sequence => (int)sequence.SequenceId != RoatpWorkflowSequenceIds.YourOrganisation).OrderBy(seq => seq.SequenceId))
                         {
                             <li>
                                 <h2 class="app-task-list__section">
                                     @Html.Raw(Convert.ToInt32(applicationSequence.SequenceId)). @Html.Raw(applicationSequence.Description)
                                 </h2>
                                 <ul class="app-task-list__items">
                                     @foreach (var section in applicationSequence.Sections.OrderBy(sec => sec.SectionId))
                                     {
                                         <li class="app-task-list__item">
                                             <a class="app-task-list__task_name" href="@Url.Action("Section", "RoatpApplication", new {section.ApplicationId, section.SequenceId, section.SectionId})">
                                                 @Html.Raw(section.Title)
                                             </a>
                                             <strong class="govuk-tag app-task-list__task-@Model.CssClass(section.SequenceId, section.SectionId)" id="completed">@Model.SectionStatus(section.SequenceId, section.SectionId)</strong>
                                         </li>
                                     }
                                 </ul>
                             </li>
                         }
                    }

                </ol>
            </div>
        </div>
    </main>
</div>