@using SFA.DAS.ApplyService.Application.Apply.Roatp
@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.TaskListViewModel

@{
    ViewBag.Title = "Application overview";
    Layout = "_Layout";
}
<div class="govuk-phase-banner govuk-width-container roatp__navigation">
    <nav>
        <ul id="navigation" class="roatp__navigation " aria-label="Top Level Navigation">
            <li class="roatp__navigation-item roatp__navigation-item--active">
                <a class="govuk-header__link" href="@Url.Action("TaskList", "RoatpApplication", new { Model.ApplicationId })">Application overview</a>
            </li>
        </ul>
    </nav>
</div>

<div class="govuk-width-container">

    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Application overview</h1>
                <p class="govuk-body">Make sure you have read <a href="https://www.gov.uk/guidance/register-of-apprenticeship-training-providers" target="_blank">the RoATP GOV.UK page (opens in a new window or tab)</a> and <a href="https://www.gov.uk/guidance/becoming-an-apprenticeship-training-provider" target="_blank">the becoming an apprenticeship training provider GOV.UK page (opens in a new window or tab)</a></a>.</p>
                @*<p class="govuk-body">
                    UKPRN: @Model.UKPRN <br />
                    Organisation name: @Model.OrganisationName
                </p>*@
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationName
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                    @if (!String.IsNullOrWhiteSpace(Model.TradingName))
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Trading name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.TradingName
                            </dd>
                            <dd class="govuk-summary-list__actions">
                            </dd>
                        </div>
                    }
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            UKPRN
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.UKPRN
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> UKPRN</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Provider route
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ApplicationRouteShortText
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> provider route</span>
                            </a>
                        </dd>
                    </div>
                </dl>
                <ol class="app-task-list">
                    @{
                        await Html.RenderPartialAsync("~/Views/Roatp/TaskList/YourOrganisationSequence.cshtml", Model);
                    }
                    @foreach (var applicationSequence in Model.ApplicationSequences.Where(sequence => (int)sequence.SequenceId != RoatpWorkflowSequenceIds.YourOrganisation).OrderBy(seq => seq.SequenceId))
                    {
                        <li>
                            <h2 class="app-task-list__section">
                                @Html.Raw(Convert.ToInt32(applicationSequence.SequenceId)). @Html.Raw(applicationSequence.Description)
                            </h2>
                            <ul class="app-task-list__items">
                                @foreach (var section in applicationSequence.Sections.OrderBy(sec => sec.SectionId))
                                {
                                    @if (!Model.IntroductionPageNextSectionUnavailable(section.SequenceId, section.SectionId))
                                    {
                                        <li class="app-task-list__item">
                                            @if (Model.SectionStatus(section.SequenceId, section.SectionId).ToLower() != "not required")
                                            {
                                                <a class="app-task-list__task_name" href="@Url.Action("Section", "RoatpApplication", new {section.ApplicationId, section.SequenceId, section.SectionId})">
                                                    @Html.Raw(section.Title)
                                                </a>
                                            }
                                            else
                                            {
                                                @Html.Raw(section.Title)
                                            }

                                            <strong class="govuk-tag app-task-list__task-@Model.CssClass(section.SequenceId, section.SectionId)" id="completed"> @Model.SectionStatus(section.SequenceId, section.SectionId)</strong>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="app-task-list__item">
                                            @Html.Raw(section.Title)
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }


                </ol>
            </div>
        </div>
    </main>
</div>