@using SFA.DAS.ApplyService.Application.Apply.Roatp
@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.TaskListViewModel

@{
    ViewBag.Title = "Application overview";
    Layout = "_Layout";
}

<partial name="~/Views/Roatp/ApplicationHeader.cshtml" />

<main class="govuk-main-wrapper " id="main-content" role="main">

    <partial name="TaskList/ApplicationSummary.cshtml" model="@Model.ApplicationSummaryViewModel" />
    
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <ol class="app-task-list">
    
        @foreach (var sequence in Model.Sequences)
        {

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">@Html.Raw(sequence.Id). </span>
                    @Html.Raw(sequence.Description)
                </h2>
                
                <ul class="app-task-list__items">
                    @foreach (var seqSection in sequence.Sections)
                    {

                        var sequenceSection = sequence.Id + "_" + seqSection.Id;

                    <li class="app-task-list__item">

                        @if (!seqSection.IsLocked && !seqSection.IsNotRequired)
                        {
                            <span class="app-task-list__task-name">
                                
                                @if (sequence.Id == RoatpWorkflowSequenceIds.YourOrganisation && seqSection.Id == RoatpWorkflowSectionIds.YourOrganisation.WhatYouWillNeed)
                                {
                                    <a class="govuk-link" asp-action="WhatYouWillNeed" asp-controller="RoatpYourOrganisationApplication" asp-route-applicationId="@Model.ApplicationId">
                                        Introduction and what you'll need <span class="govuk-visually-hidden"> for your organisation</span>
                                    </a>
                                }
                                else if (sequence.Id == RoatpWorkflowSequenceIds.YourOrganisation && seqSection.Id == RoatpWorkflowSectionIds.YourOrganisation.DescribeYourOrganisation)
                                {
                                    <a class="govuk-link" asp-action="Page" asp-controller="RoatpApplication" asp-route-applicationId="@Model.ApplicationId"
                                        asp-route-sequenceId="@RoatpWorkflowSequenceIds.YourOrganisation"
                                        asp-route-sectionId="@RoatpWorkflowSectionIds.YourOrganisation.DescribeYourOrganisation"
                                        asp-route-pageId="@Model.DescribeOrganisationStartPageId"
                                        asp-route-redirectAction="TaskList">
                                        Describe your organisation
                                    </a>
                                }
                                else if (sequence.Id == RoatpWorkflowSequenceIds.YourOrganisation && seqSection.Id == RoatpWorkflowSectionIds.YourOrganisation.ExperienceAndAccreditations)
                                {
                                    <a class="govuk-link" asp-action="ExperienceAccreditation" asp-controller="RoatpYourOrganisationApplication" asp-route-applicationId="@Model.ApplicationId">
                                        Experience and accreditation
                                    </a>
                                }
                                else if (sequence.Id == RoatpWorkflowSequenceIds.DeliveringApprenticeshipTraining && seqSection.Id == RoatpWorkflowSectionIds.DeliveringApprenticeshipTraining.ManagementHierarchy)
                                {
                                    <a class="govuk-link" asp-action="StartPage" asp-controller="RoatpManagementHierarchy" asp-route-applicationId="@Model.ApplicationId">
                                        @Html.Raw(seqSection.Title)
                                    </a>
                                }
                                else if (sequence.Id == RoatpWorkflowSequenceIds.YourOrganisation && seqSection.Id == RoatpWorkflowSectionIds.YourOrganisation.WhosInControl)
                                {
                                    <a class="govuk-link" asp-action="StartPage" asp-controller="RoatpWhosInControlApplication" asp-route-applicationId="@Model.ApplicationId">
                                        Tell us who's in control
                                    </a>
                                }
                                else
                                {
                                    <a class="govuk-link"
                                       asp-action="Section"
                                       asp-controller="RoatpApplication"
                                       asp-route-applicationId="@(Model.ApplicationId)"
                                       asp-route-sequenceId="@sequence.Id"
                                       asp-route-sectionId="@seqSection.Id">
                                        @Html.Raw(seqSection.Title)
                                    </a>

                                }

                            </span>

                        }
                        else
                        {
                            <span class="app-task-list__task-name">
                                @Html.Raw(seqSection.Title)
                            </span>
                        }
                        
                        @if (!seqSection.IsLocked || seqSection.IsNotRequired)
                        {
                            <strong class="govuk-tag app-task-list__task-@seqSection.StatusCssClass" id="status_@sequenceSection"> @seqSection.Status</strong>
                        }
                    </li>

                        @if (sequence.Id == RoatpWorkflowSequenceIds.Finish && seqSection.Id == RoatpWorkflowSectionIds.Finish.TermsAndConditions)
                         {
                            @if (Model.ShowSubmission)
                             {
                                 @if (Model.AllowSubmission)
                                  {
                                      <li class="app-task-list__item">
                                          <span class="app-task-list__task-name">
                                              <a class="govuk-link" asp-action="SubmitApplication" asp-controller="RoatpApplication" asp-route-applicationId="@Model.ApplicationId">
                                                  Submit application
                                              </a>
                                          </span>
                                          <strong class="govuk-tag app-task-list__task-next" id="completed">
                                              @Html.Raw("Next")
                                          </strong>

                                      </li>
                                 }
                                  else
                                  {
                                      <li class="app-task-list__item">
                                          <span class="app-task-list__task-name">
                                              Submit application
                                          </span>
                                      </li>
                                  }
                             }
                         }
                    }

                </ul>
            </li>
        }

    </ol>
    </div>
    </div>
    
</main>

