@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.TaskList2ViewModel

@{
    ViewBag.Title = "Application overview";
    Layout = "_Layout";
}

<partial name="~/Views/Roatp/ApplicationHeader.cshtml" />

<main class="govuk-main-wrapper " id="main-content" role="main">

    <partial name="TaskList/ApplicationSummary.cshtml" model="@Model.ApplicationSummaryViewModel" />
    
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <ol class="app-task-list">
    
        @foreach (var sequence in Model.Sequences)
        {

            <li>
                <h2 class="app-task-list__section">
                    @Html.Raw(sequence.Id). @Html.Raw(sequence.Description)
                </h2>
                
                <ul class="app-task-list__items">
                    @foreach (var seqSection in sequence.Sections)
                    {

                        var sequenceSection = sequence.Id + "_" + seqSection.Id;

                    <li class="app-task-list__item">

                        @if (!seqSection.IntroductionPageNextSectionUnavailable && !seqSection.IsNotRequired)
                        {
                            <span class="app-task-list__task-name">
                                <a class="govuk-link"
                                   asp-action="Section"
                                   asp-controller="RoatpApplication"
                                   asp-route-applicationId="@(Model.ApplicationId)"
                                   asp-route-sequenceId="@sequence.Id"
                                   asp-route-sectionId="@seqSection.Id">
                                    @Html.Raw(seqSection.Title)
                                </a>
                            </span>
                            
                            <strong class="govuk-tag app-task-list__task-@seqSection.StatusCssClass" id="status_@sequenceSection"> @seqSection.Status</strong>
                        }
                        else
                        {
                            <span class="app-task-list__task-name">
                                @Html.Raw(seqSection.Title)
                            </span>
                        }
                    </li>
                    }
                </ul>
            </li>

        }


    </ol>
    </div>
    </div>
    
</main>

