@using MoreLinq;
@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ConditionsOfAcceptanceViewModel

@{
    ViewBag.Title = "Do you agree to the terms and conditions of making an application?";
    Layout = "_Layout";

    bool showErrors = Model.ErrorMessages != null && Model.ErrorMessages.Count > 0;
}

@{ await Html.RenderPartialAsync("~/Views/Roatp/PreambleHeader.cshtml"); }

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model.ErrorMessages != null && Model.ErrorMessages.Count > 0)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            @foreach (var errorMessage in Model.ErrorMessages.DistinctBy(x => x.ErrorMessage))
                            {
                                <li><a href="#TermsConditions">@errorMessage.ErrorMessage</a></li>
                            }
                        </ul>
                    </div>
                </div>
            }
            <h1 class="govuk-heading-xl">Do you accept the conditions of acceptance for the RoATP?
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">
                Education and Skills Funding Agency’s (ESFA) conditions of acceptance ensure government funding and apprentice needs are protected.
            </p>
            <p class="govuk-body">
                If you do not comply with the conditions either during application or when admitted onto RoATP, your application may be rejected or your organisation may be removed from RoATP.
            </p>
            <p class="govuk-body">
                This may be the case if:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>you provide inadequate, incomplete or materially misleading or inaccurate information in your application</li>
                <li>there is a change in the information in your application which in our judgement does or may impact on your ability to deliver apprenticeship training to learners or comply with the requirements of the apprenticeship funding rules or performance management rules. You must inform us promptly of any such change and co-operate with any enquiry we may make into your organisation or the information which you have or you should have provided in your application. Failure in either respect may result in your removal from RoATP</li>
                <li>your organisation no longer meets the requirements of RoATP - this includes not implementing policies and processes provided in your application or not being able to evidence any examples provided in your application 
                </li>
                <li>you do not reapply by the date specified or your application is unsuccessful - your organisation will receive 30 days’ notice of your requirement to reapply
                </li>
                
                <li>your organisation does not directly deliver apprenticeship training within 12 months of being listed on the register or in any 12 month period - delivery as a subcontractor does not count as direct delivery for these purposes</li>
                <li>your organisation is in breach of a funding agreement you hold with ESFA and/or has an apprenticeship funding agreement terminated by ESFA or ESFA have withdrawn your apprenticeship funding </li>
                <li>your organisation has requested to withdraw or terminate an apprenticeship funding agreement held with ESFA</li>
                <li>your organisation falls within the criteria set out in ESFA ‘funding higher risk organisations and subcontractors’ policy’ (or any superseding policy) </li>
                <li>your organisation receives an inadequate rating for ‘apprenticeships’ by Ofsted, or for ‘overall effectiveness’ under its FE and skills remit where there is no separate Ofsted grade for apprenticeships </li>
                <li>there is a change of ownership or control in your organisation and no apprenticeship delivery having taken place prior to the change </li>
                <li>your organisation is assessed by ESFA as having ‘inadequate’ financial health and is unable to provide assurances requested by ESFA</li>
            </ul>
            <p class="govuk-body">
                We reserve the right to:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>ask you to reapply for admission to RoATP where you are already admitted. This will be determined by the rules and guidance applicable at that time and on the basis of the information contained in that reapplication
                </li>
                <li>make changes to any of these conditions at our discretion and at any time</li>
</ul>
            <p class="govuk-body">
                Any such changes will apply to your admission to RoATP from the date they come into force irrespective of the date you were admitted.
            </p>

            <form method="post" asp-action="ConfirmTermsAndConditions" asp-controller="RoatpApplicationPreamble">
                <div id="TermsConditions" class="govuk-form-group @(showErrors ? "govuk-form-group--error" : "")" sfa-validation-for="ConditionsAccepted" sfa-validationerror-class="govuk-error-message">
                    @Html.HiddenFor(x => x.ApplicationRouteId)  
                    @Html.HiddenFor(x => x.ApplicationId)  
                    @if (showErrors)
                    {
                        <span class="govuk-error-message">
                            @foreach (var errorMessage in Model.ErrorMessages.DistinctBy(x => x.ErrorMessage))
                            {
                                @Html.Raw(errorMessage.ErrorMessage)
                            }
                        </span>
                    }
                    <fieldset class="govuk-fieldset">

                        <div class="govuk-radios">

                            <div class="govuk-radios__item">

                                <input asp-for="ConditionsAccepted" class="govuk-radios__input" id="ConditionsAccepted-Yes"
                                        name="ConditionsAccepted" type="radio" value="Y"
                                        sfa-validation-for="ConditionsAccepted" sfa-validationerror-class="form-control-error">
                                <label class="govuk-label govuk-radios__label" for="ConditionsAccepted-Yes">
                                    Yes
                                </label>

                            </div>

                            <div class="govuk-radios__item">

                                <input asp-for="ConditionsAccepted" class="govuk-radios__input" id="ConditionsAccepted-No"
                                        name="ConditionsAccepted" type="radio" value="N"
                                        sfa-validation-for="ConditionsAccepted" sfa-validationerror-class="form-control-error">
                                <label class="govuk-label govuk-radios__label" for="ConditionsAccepted-No">
                                    No
                                </label>

                            </div>

                        </div>
                    </fieldset>
                </div>
                <input type="submit" class="govuk-button" value="Save and continue" />

            </form>
        </div>
    </div>
</main>