@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.UkprnSearchResultsViewModel

<div class="grid-row">
    <form asp-controller="RoatpApplicationPreamble" asp-action="EnterApplicationUkprn" method="get" name="backForm">
        <input type="hidden" asp-for="UKPRN" />
        <input type="hidden" asp-for="ApplicationRouteId" />
        <a href="JavaScript:document.backForm.submit();" class="govuk-back-link">Back</a>
    </form>
</div>

<div class="govuk-width-container">

    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-form-group">
            <h1 class="govuk-heading-xl">Confirm organisation</h1>

            <h2 class="govuk-heading-m">@Model.ProviderDetails.ProviderName</h2>

            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">UKPRN</p>
            <p class="govuk-body">@Model.ProviderDetails.UKPRN</p>

            @if (Model.LegalContactDetails != null && !String.IsNullOrWhiteSpace(Model.LegalContactDetails.ContactAddress.Address1))
            {
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Contact address</p>
                <p class="govuk-body">
                    @if (!String.IsNullOrWhiteSpace(Model.LegalContactDetails.ContactAddress.Address1))
                    {
                        @Model.LegalContactDetails.ContactAddress.Address1 <br />
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.LegalContactDetails.ContactAddress.Address2))
                    {
                        @Model.LegalContactDetails.ContactAddress.Address2 <br />
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.LegalContactDetails.ContactAddress.Address3))
                    {
                        @Model.LegalContactDetails.ContactAddress.Address3 <br />
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.LegalContactDetails.ContactAddress.Address4))
                    {
                        @Model.LegalContactDetails.ContactAddress.Address4 <br />
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.LegalContactDetails.ContactAddress.Town))
                    {
                        @Model.LegalContactDetails.ContactAddress.Town <br />
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.LegalContactDetails.ContactAddress.PostCode))
                    {
                        @Model.LegalContactDetails.ContactAddress.PostCode <br />
                    }
                </p>
            }

            @if (Model.LegalContactDetails != null && !String.IsNullOrWhiteSpace(Model.LegalContactDetails.ContactTelephone1))
            {
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Contact number</p>
                <p class="govuk-body">@Model.LegalContactDetails.ContactTelephone1</p>
            }

            @if (Model.LegalContactDetails != null && !String.IsNullOrWhiteSpace(Model.LegalContactDetails.ContactWebsiteAddress))
            {
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Website</p>
                <p class="govuk-body">@Model.LegalContactDetails.ContactWebsiteAddress</p>
            }

            @if (Model.ProviderDetails.ProviderAliases.Count > 0 && !String.IsNullOrWhiteSpace(Model.ProviderDetails.ProviderAliases[0].Alias))
            {
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Trading name</p>
                <p class="govuk-body">@Model.ProviderDetails.ProviderAliases[0].Alias</p>
            }

            @if (Model.ProviderDetails.VerificationDetails.Count > 0)
            {
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Verification authority</p>
                <p class="govuk-body">@Model.ProviderDetails.VerificationDetails[0].VerificationAuthority</p>
            }

            @if (Model.ProviderDetails.VerifiedByCompaniesHouse)
            {
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Companies House Number</p>
                <p class="govuk-body">@Model.CompaniesHouseInformation.CompanyNumber</p>

                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Company type</p>
                <p class="govuk-body">@Model.CompaniesHouseInformation.CompanyTypeDescription</p>

                @if (Model.CompaniesHouseInformation.IncorporationDate.HasValue)
                 {
                     <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Incorporation date</p>
                     <p class="govuk-body">@Model.CompaniesHouseInformation.IncorporationDate.Value.ToString("dd MMM yyyy")</p>
                 }
                @if (Model.CompaniesHouseInformation.Directors.Count > 0)
                {
                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Active Directors</p>
                    <table class="govuk-body">
                        @foreach (var director in Model.CompaniesHouseInformation.Directors)
                        {
                            <tr>
                                <td style="padding-right: 50px;">@director.Name</td>
                                @if (director.DateOfBirth.HasValue)
                                {
                                    <td>Date of birth @director.DateOfBirth.Value.ToString("MMM yyyy")</td>
                                }
                            </tr>
                        }
                    </table>
                }
                @if (Model.CompaniesHouseInformation.PersonsSignificationControl.Count > 0)
                {
                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Persons of significant control</p>
                    <table class="govuk-body">
                        @foreach (var psc in Model.CompaniesHouseInformation.PersonsSignificationControl)
                        {
                            <tr>
                                <td style="padding-right: 50px;">@psc.Name</td>
                                @if (psc.DateOfBirth.HasValue)
                                {
                                    <td>Date of birth @psc.DateOfBirth.Value.ToString("MMM yyyy")</td>
                                }
                            </tr>
                        }
                    </table>
                }
            }
        </div>
    </main>

</div>