@using SFA.DAS.ApplyService.Domain.Entities
@model SFA.DAS.ApplyService.Domain.Entities.ApplicationSequence

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                Application feedback
            </h1>

            <p class="govuk-body">Go into each question to view comments, where you will have an opportunity to give more information.</p>

            <ol class="app-task-list">
                @foreach (var sec in Model.Sections.OrderBy(s => s.SectionId))
                {
                    <li>
                        @sec.LinkTitle
                        @if (sec.HasNewFeedback())
                        {
                            <ul class="app-task-list__items">
                                @foreach (var pg in sec.Pages.OrderBy(p => p.PageId).Where(p => p.HasFeedback))
                                {
                                    <li class="app-task-list__item">
                                        <a aria-describedby="eligibility-completed" class="app-task-list__task-name" 
                                           href="@Url.Action("Page", "Application", new {applicationId = Model.ApplicationId, sequenceId = (int)Model.SequenceId, sectionId = sec.SectionId, pageId = pg.PageId, redirectAction="Feedback"})">@pg.LinkTitle</a>
                                        @if (pg.HasCompletedFeedback())
                                        {
                                            <strong class="govuk-tag app-task-list__task-completed" id="completed">Completed</strong>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <div class="govuk-inset-text">No further action required for this section</div>
                        }
                    </li>
                }
            </ol>
            
            <div>
                <form asp-action="Submit" asp-controller="Application">
                    <input type="hidden" id="applicationId" name="applicationId" value="@Model.ApplicationId"/>
                    <input type="hidden" id="sequenceId" name="sequenceId" value="@Model.SequenceId"/>
                    <button class="govuk-button">Submit application</button>
                </form>
            </div>
        </div>
    </div>


</main>