@using SFA.DAS.ApplyService.Domain.Entities
@model SFA.DAS.ApplyService.Domain.Entities.ApplicationSequence

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Application feedback
            </h1>

            @if ((int)Model.SequenceId == 1)
            {
                <p class="govuk-body">The first part of your application to join the Register of end-point assessment organisations has been rejected</p>
            }
            else if ((int)Model.SequenceId == 2)
            {
                <p class="govuk-body">The second part of your application to join the Register of end-point assessment organisations has been rejected</p>
            }

            <p class="govuk-body">Go into each question to view comments, where you will have an opportunity to give more information.</p>

            <ol class="app-task-list">
                @foreach (var sec in Model.Sections.OrderBy(s => s.SectionId))
                {
                    <li>
                        <h2 class="govuk-heading-l">@sec.LinkTitle</h2>
                        @{
                            var pagesWithNewFeedback = sec.QnAData.Pages.Where(p => p.HasNewFeedback);

                            if (pagesWithNewFeedback.Any())
                            {
                                <ul class="app-task-list__items app-task-list__items--no-number">
                                    @foreach (var pg in pagesWithNewFeedback.OrderBy(p => p.PageId))
                                    {
                                        <li class="app-task-list__item">
                                            <a aria-describedby="eligibility-completed" class="app-task-list__task-name"
                                               href="@Url.Action("Page", "Application", new { applicationId = Model.ApplicationId, sequenceId = (int)Model.SequenceId, sectionId = sec.SectionId, pageId = pg.PageId, redirectAction = "Feedback" })">@pg.LinkTitle</a>
                                            @if (pg.AllFeedbackIsCompleted)
                                            {
                                                <strong class="govuk-tag app-task-list__task-completed" id="completed">Completed</strong>
                                            }
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <div class="govuk-inset-text">No further action required for this section</div>
                            }
                        }
                    </li>
                }
            </ol>

            @* TODO: Should all feedback be completed before resubmitting?? *@
            <div>
                <form asp-action="Submit" asp-controller="Application">
                    <input type="hidden" id="applicationId" name="applicationId" value="@Model.ApplicationId" />
                    <input type="hidden" id="sequenceId" name="sequenceId" value="@((int)Model.SequenceId)" />
                    <input type="hidden" id="acceptedTermsAndConditions" name="acceptedTermsAndConditions" value="True" />
                    <button class="govuk-button">Submit application</button>
                </form>
            </div>
        </div>
    </div>


</main>