@using SFA.DAS.ApplyService.Web.ViewModels.Roatp
@model SFA.DAS.ApplyService.Domain.Entities.ApplicationSection

@{
    ViewBag.Title = @Model.Title;
    Layout = "_Layout";
    var pageTitle = "";
    var isSamePage = false;
    var nextPageTitle = "";
    var pagesToCheck = Model.QnAData.Pages.Where(p => p.Active && !p.NotRequired && p.DisplayType!=null && p.DisplayType == "PagesWithSections").ToList();
    var pageId = pagesToCheck?.FirstOrDefault()?.PageId;
}

<partial name="~/Views/Roatp/ApplicationHeader.cshtml" />

@*<a class="govuk-back-link" asp-action="Back" asp-controller="RoatpApplication" asp-route-applicationId="@Model.ApplicationId" asp-route-sequenceId="@Model.SequenceId" asp-route-sectionId="@Model.SectionId" asp-route-pageId="@pageId" asp-route-redirectAction="TaskList">Back</a>*@

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model == null)
            {
                <h1 class="govuk-heading-xl">Section not active</h1>
            }
            else
            {
                <h1 class="govuk-heading-xl">@Model.Title</h1>

                <ol class="app-task-list">
                    <li>
                        <h2 class="app-task-list__section">@Html.Raw(pagesToCheck[0].Title)</h2>
                        <ul class="app-task-list__items app-task-list__items--no-number">
                            @for (var i = 0; i < pagesToCheck.Count; i++)
                            {
                                var pg = pagesToCheck[i];
                                isSamePage = pageTitle == pg.Title;
                                pageTitle = pg.Title;
                                nextPageTitle = "";

                                if (i < pagesToCheck.Count - 1)
                                {
                                    nextPageTitle = (pagesToCheck[i + 1]).Title;
                                }

                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a
                                            class="govuk-link"
                                            asp-action="Page"
                                            asp-controller="RoatpApplication"
                                            asp-route-applicationId="@Model.ApplicationId"
                                            asp-route-sequenceId="@Model.SequenceId"
                                            asp-route-sectionId="@Model.SectionId"
                                            asp-route-pageId="@pg.PageId"
                                            asp-route-redirectAction="Section"
                                        >
                                            @pg.LinkTitle
                                        </a>
                                    </span>

                                    @if (pg.StatusText== TaskListSectionStatus.Completed)
                                    {
                                        <strong class="govuk-tag app-task-list__task-completed" id="completed">Completed</strong>
                                    }
                                    
                                    @if (pg.StatusText == TaskListSectionStatus.InProgress)
                                    {
                                        <strong class="govuk-tag app-task-list__task-inprogress" id="inprogress">In progress</strong>
                                    }
                                </li>

                                @if (nextPageTitle != pageTitle)
                                {
                                    @Html.Raw("</ul></li>");
                                    if (i < pagesToCheck.Count - 1)
                                    {
                                        @Html.Raw("<li><h2 class=\"app-task-list__section\">")
                                        @nextPageTitle
                                        @Html.Raw("</h2><ul class=\"app-task-list__items app-task-list__items--no-number\">")
                                    }
                                }

                            }
                        </ul>
                    </li>
                </ol>
                <a class="govuk-button" asp-action="Tasklist" asp-controller="RoatpApplication" asp-route-applicationId="@Model.ApplicationId">Return to application overview</a>
            }
        </div>
    </div>
</main>