@model SFA.DAS.ApplyService.Domain.Entities.ApplicationSection

@{
    ViewBag.Title = @Model.Title;
    Layout = "_Layout";
}

@*<a asp-action="Sequence" asp-controller="Application" asp-route-applicationId="@Model.ApplicationId" class="govuk-back-link">Back to application overview</a>*@
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model == null)
            {
                <h1 class="govuk-heading-xl">Sequence not active</h1>
            }
            else
            {
                <h1 class="govuk-heading-xl">@Model.Title</h1>

                <ol class="app-task-list">
                    @foreach (var pg in Model.QnAData.Pages.Where(p => p.Active && !p.NotRequired))
                    {
                        <li>
                            <h2 class="app-task-list__section">@Html.Raw(pg.Title)</h2>
                            <ul class="app-task-list__items app-task-list__items--no-number">
                                @foreach (var question in pg.Questions)
                                {
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a
                                                class="govuk-link"
                                                asp-action="Page"
                                                asp-controller="Application"
                                                asp-route-applicationId="@Model.ApplicationId"
                                                asp-route-sequenceId="@Model.SequenceId"
                                                asp-route-sectionId="@Model.SectionId"
                                                asp-route-pageId="@pg.PageId"
                                                asp-route-redirectAction="Section"
                                            >
                                                @question.ShortLabel
                                            </a>
                                        </span>
                                        @if (pg.IsQuestionAnswered(question.QuestionId))
                                        {
                                            <strong class="govuk-tag app-task-list__task-completed" id="completed">Completed</strong>
                                        }
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ol>
                <a asp-action="Sequence" asp-controller="Application" asp-route-applicationId="@Model.ApplicationId" asp-route-sequenceId="@Model.SequenceId"  class="govuk-button">Return to application overview</a>
            }
        </div>
    </div>
</main>