@model SFA.DAS.ApplyService.Domain.Entities.ApplicationSection

@{
    ViewBag.Title = @Model?.Title ?? "Section not active";
    Layout = "_Layout";
}

@*@if (Model == null)
{
    <a asp-action="Applications" asp-controller="Application" class="govuk-back-link">Back to application overview</a>
}
else
{
    <a asp-action="Sequence" asp-controller="Application" asp-route-applicationId="@Model.ApplicationId" class="govuk-back-link">Back to application overview</a>
}*@
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model == null)
            {
                <h1 class="govuk-heading-xl">Section not active</h1>
            }
            else
            {
                <h1 class="govuk-heading-xl">@Model.Title</h1>
                <ol class="app-task-list">
                    <li>
                        <ul class="app-task-list__items app-task-list__items--no-number">
                            @foreach (var pg in Model.QnAData.Pages.Where(p => p.Active && !p.NotRequired))
                            {
                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a
                                            class="govuk-link"
                                            asp-action="Page"
                                            asp-controller="Application"
                                            asp-route-applicationId="@Model.ApplicationId"
                                            asp-route-sequenceId="@Model.SequenceId"
                                            asp-route-sectionId="@Model.SectionId"
                                            asp-route-pageId="@pg.PageId"
                                            asp-route-redirectAction="Section"
                                        >
                                           @pg.LinkTitle
                                        </a>
                                    </span>
                                    @if (pg.Complete)
                                    {
                                        <strong class="govuk-tag app-task-list__task-completed" id="completed">Completed</strong>
                                    }
                                </li>
                            }
                        </ul>
                    </li>
                </ol>
                <a class="govuk-button" asp-action="Tasklist" asp-controller="RoatpApplication" asp-route-applicationId="@Model.ApplicationId">Return to application overview</a>
            }
        </div>
    </div>
</main>