@model SFA.DAS.ApplyService.Domain.Entities.ApplicationSection

@{
    ViewBag.Title = @Model.Title;
    Layout = "_Layout";
}

<a href="@Url.Action("Sections", "Application")" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model == null)
            {
                <h1 class="govuk-heading-xl">Sequence not active</h1>
            }
            else
            {
                <h1 class="govuk-heading-xl">@Model.Title</h1>
                                                         
                <dl class="app-check-your-answers app-check-your-answers--short">
                    @foreach (var pg in Model.Pages.Where(p => p.Active))
                    {
                        <div class="app-check-your-answers__contents">
                            <dt class="app-check-your-answers__question">
                                <a href="@Url.Action("Page", "Application", new {applicationId = Model.ApplicationId, sequenceId = Model.SequenceId, sectionId = Model.SectionId, pageId = pg.PageId})">
                                    @pg.LinkTitle
                                </a>
                                @if (pg.Complete)
                                {
                                    <strong class="govuk-tag app-task-list__task-completed" id="completed">Completed</strong>
                                }
                            </dt>
                        </div>
                    }
                </dl>

                <a href="@Url.Action("Sections", "Application")" class="govuk-button">Return to application overview</a>
            }
        </div>
    </div>
</main>