@model SFA.DAS.ApplyService.Domain.Entities.ApplicationSection

@{
    ViewBag.Title = @Model?.Title ?? "Section not active";
    Layout = "_Layout";
}

@if (Model == null)
{
    <a href="@Url.Action("Applications", "Application")" class="govuk-back-link">Back to application overview</a>
}
else
{
    <a href="@Url.Action("Sequence", "Application", new { applicationId = Model.ApplicationId })" class="govuk-back-link">Back to application overview</a>
}
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model == null)
            {
                <h1 class="govuk-heading-xl">Section not active</h1>
            }
            else
            {
                <h1 class="govuk-heading-xl">@Model.Title</h1>
                <ul class="app-task-list">
                    <li>
                        <ul class="app-task-list__items app-task-list__items--no-number">
                            @foreach (var pg in Model.QnAData.Pages.Where(p => p.Active && !p.NotRequired))
                            {
                                <li class="app-task-list__item">
                                    <a class="govuk-link app-task-list__task-name" 
                                       href="@Url.Action("Page", "Application", new {applicationId = Model.ApplicationId, sequenceId = Model.SequenceId, sectionId = Model.SectionId, pageId = pg.PageId, redirectAction="Section"})">
                                        @pg.LinkTitle
                                    </a>
                                    @if (pg.Complete)
                                    {
                                        <strong class="govuk-tag app-task-list__task-completed" id="completed">Completed</strong>
                                    }
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
                <a href="@Url.Action("Sequence", "Application", new {applicationId = Model.ApplicationId})" class="govuk-button">Return to application overview</a>
            }
        </div>
    </div>
</main>