@using SFA.DAS.ApplyService.Domain.Entities
@*@model SFA.DAS.ApplyService.Domain.Entities.ApplicationSequence*@
@model SFA.DAS.ApplyService.Web.Controllers.SequenceViewModel

@{
    ViewBag.Title = "Application overview";
    Layout = "_Layout";
}

<a asp-action="Applications" asp-controller="Application" class="govuk-back-link">Back to application selection</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Application overview</h1>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            @foreach (var error in Model.ErrorMessages)
                            {
                                <li>
                                    <a href="#@error.Field">@error.ErrorMessage</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }

            @if (Model.Status == ApplicationSequenceStatus.Submitted)
            {
                <div class="das-apply-notification-summary govuk-!-margin-bottom-8">
                    <h2 class="govuk-heading-l">
                        Your application has been submitted
                    </h2>
                    <div class="govuk-body govuk-!-margin-bottom-0">
                        Once your application has been reviewed you'll hear from us by email.
                    </div>
                </div>
            }
            else
            {
                <ul class="govuk-list">
                    @foreach (var applicationSection in Model.Sections.OrderBy(s => s.SectionId))
                    {
                        <li>
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                                @applicationSection.LinkTitle
                            </h2>
                            <span id="company-details-hint" class="govuk-hint">
                                @applicationSection.PagesComplete of @applicationSection.PagesActive questions completed
                            </span>
                            @if (Model.Status != ApplicationSequenceStatus.Submitted)
                            {
                                <a class="govuk-link" href="@Url.Action("Section", "Application", new { applicationSection.ApplicationId, applicationSection.SequenceId, applicationSection.SectionId })">
                                    Go to @applicationSection.LinkTitle.ToLower()
                                </a>
                            }
                        </li>
                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                    }
                </ul>

                if (Model.Sections.Sum(m => m.PagesComplete) == Model.Sections.Sum(m => m.PagesActive) && Model.Status != ApplicationSequenceStatus.Submitted)
                {
                    <form asp-action="Submit" asp-controller="Application">
                        <input type="hidden" id="applicationId" name="applicationId" value="@Model.ApplicationId" />
                        <input type="hidden" id="sequenceId" name="sequenceId" value="@Model.SequenceId" />
                        <div class="govuk-form-group">
                            <button type="submit" class="govuk-button">
                                Continue
                            </button>
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</main>