@using SFA.DAS.ApplyService.Application.Apply.Roatp
@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.TaskListViewModel

@{
    var yourOrganisationSequence = Model.ApplicationSequences
        .Single(seq => (int)seq.SequenceId == RoatpWorkflowSequenceIds.YourOrganisation);

    <li>
        <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">@Html.Raw(yourOrganisationSequence.SequenceId). </span>
            @Html.Raw(yourOrganisationSequence.Description)
        </h2>

        <ul class="app-task-list__items">
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                    <a class="govuk-link" asp-action="WhatYouWillNeed" asp-controller="RoatpYourOrganisationApplication" asp-route-applicationId="@Model.ApplicationId">
                        Introduction and what you'll need
                    </a>
                </span>
                <strong class="govuk-tag app-task-list__task-@Model.CssClass(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.WhatYouWillNeed)">@Model.SectionStatus(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.WhatYouWillNeed)</strong>
            </li>
            <li class="app-task-list__item">
                @if (Model.PreviousSectionCompleted(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.OrganisationDetails))
                {
                    <span class="app-task-list__task-name">
                        <a class="govuk-link" asp-action="Section" asp-controller="RoatpApplication" asp-route-applicationId="@Model.ApplicationId" asp-route-sequenceId="@RoatpWorkflowSequenceIds.YourOrganisation" asp-route-sectionId="@RoatpWorkflowSectionIds.YourOrganisation.OrganisationDetails">
                            Organisation information
                        </a>
                    </span>
                    <strong class="govuk-tag app-task-list__task-@Model.CssClass(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.OrganisationDetails)">@Model.SectionStatus(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.OrganisationDetails)</strong>
                }
                else
                {
                    <span class="app-task-list__task-name">
                        @Html.Raw("Organisation information")
                    </span>
                }
            </li>
            <li class="app-task-list__item">
                @if (Model.PreviousSectionCompleted(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.WhosInControl))
                {
                    <span class="app-task-list__task-name">
                        <a class="govuk-link" asp-action="StartPage" asp-controller="RoatpWhosInControlApplication" asp-route-applicationId="@Model.ApplicationId">
                            Tell us who's in control
                        </a>
                    </span>
                    <strong class="govuk-tag app-task-list__task-@Model.WhosInControlCss">@Model.WhosInControlSectionStatus</strong>
                }
                else
                {
                    <span class="app-task-list__task-name">
                        @Html.Raw("Tell us who's in control")
                    </span>
                }
            </li>
            <li class="app-task-list__item">
                @if (Model.PreviousSectionCompleted(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.DescribeYourOrganisation))
                {
                    <span class="app-task-list__task-name">
                        <a
                            class="govuk-link"
                            asp-action="Page"
                            asp-controller="RoatpApplication"
                            asp-route-applicationId="@Model.ApplicationId"
                            asp-route-sequenceId="@RoatpWorkflowSequenceIds.YourOrganisation"
                            asp-route-sectionId="@RoatpWorkflowSectionIds.YourOrganisation.DescribeYourOrganisation"
                            asp-route-pageId="@Model.DescribeOrganisationStartPageId"
                            asp-route-redirectAction="TaskList"
                        >
                            Describe your organisation
                        </a>
                    </span>
                    <strong class="govuk-tag app-task-list__task-@Model.CssClass(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.DescribeYourOrganisation)">@Model.SectionStatus(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.DescribeYourOrganisation)</strong>
                }
                else
                {
                    <span class="app-task-list__task-name">
                        @Html.Raw("Describe your organisation")
                    </span>
                }
            </li>
            <li class="app-task-list__item">
                @if (Model.PreviousSectionCompleted(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.ExperienceAndAccreditations))
                {
                    <span class="app-task-list__task-name">
                        <a class="govuk-link" asp-action="ExperienceAccreditation" asp-controller="RoatpYourOrganisationApplication" asp-route-applicationId="@Model.ApplicationId">
                            Experience and accreditation
                        </a>
                    </span>
                    <strong class="govuk-tag app-task-list__task-@Model.CssClass(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.ExperienceAndAccreditations)">@Model.SectionStatus(RoatpWorkflowSequenceIds.YourOrganisation, RoatpWorkflowSectionIds.YourOrganisation.ExperienceAndAccreditations)</strong>
                }
                else
                {
                    <span class="app-task-list__task-name">
                        @Html.Raw("Experience and accreditation")
                    </span>
                }
            </li>

        </ul>
    </li>
}