@using SFA.DAS.ApplyService.Web.Extensions

@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.Appeals.AppealUnsuccessfulViewModel

@{
    ViewBag.Title = "Appeal unsuccessful";
    Layout = "_Layout";
}

@section Navigation
{
    <partial name="~/Views/Appeals/Navigation/_AppealSubmittedHeader.cshtml" />
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel app-panel--error">
                <h1 class="govuk-panel__title">
                    Appeal unsuccessful
                </h1>
            </div>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Appeal submitted date</dt>
                    <dd class="govuk-summary-list__value">@Model.AppealSubmittedDate.ToSfaShortDateString()</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Appeal determined  date</dt>
                    <dd class="govuk-summary-list__value">@Model.AppealDeterminedDate.ToSfaShortDateString()</dd>
                </div>
            </dl>
            <p class="govuk-body">
                Your appeal against the outcome of your application to be on the APAR has been unsuccessful.
            </p>
            <p class="govuk-body">
                Your appeal has been reviewed by an appeals manager, within the DfE, who is independent of the application assessment process.
            </p>
            <p class="govuk-body">
                We have reviewed your appeal to determine whether the DfE has failed to:
                <ul class="govuk-list govuk-list--bullet">
                    @if (Model.AppealedOnPolicyOrProcesses)
                    {
                        <li>
                            follow its own policy or processes
                        </li>
                    }
                    @if (Model.AppealedOnEvidenceSubmitted)
                    {
                        <li>
                            understand or recognise the evidence submitted
                        </li>
                    }
                </ul>
            </p>
            <h2 class="govuk-heading-m">Why your appeal was unsuccessful</h2>
            <div class="govuk-inset-text app-inset-text--question-answer">
                <p class="govuk-body das-multiline-text">
                    @Model.ExternalComments
                </p>
            </div>
            <p class="govuk-body govuk-!-font-weight-bold">This decision is final and there is no right of a further appeal.</p>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body">
                If you are currently on the register, the DfE will write to you to advise what actions they will take, as explained in the <a href="@ExternalLinks.RemovalConsequences" target="_blank" class="govuk-link" rel="noreferrer noopener">Consequences section</a> of the new policy.
            </p>
            <p class="govuk-body">
                Your organisation can only make 1 application within a 12-month period.
            </p>
            <p class="govuk-body">
                You may be able to re-apply after a 12-month period from your application submitted date, but this will depend on the APAR market entry conditions at that time.
            </p>
            <h2 class="govuk-heading-m">How to make a complaint</h2>
            <p class="govuk-body">
                If you are unhappy with the way your appeal has been handled, your organisation can make a complaint by following the <a href="@ExternalLinks.ComplaintsProcedure" target="_blank" class="govuk-link" rel="noreferrer noopener">Complaints procedure</a>.
            </p>
            <h2 class="govuk-heading-m">How to contact us</h2>
            <p class="govuk-body">
                You can contact the Manage apprenticeships service helpdesk on:
            </p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
                <li>08000 150 600</li>
                <li><a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk" class="govuk-link">helpdesk@manage-apprenticeships.service.gov.uk</a></li>
            </ul>
        </div>
    </div>
</main>