@using SFA.DAS.AdminService.Common.Extensions;

@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.Appeals.AppealSubmittedViewModel

@{
    ViewBag.Title = "Make an appeal";
    Layout = "_Layout";
}

@section Navigation
{
    <partial name="~/Views/Appeals/Navigation/_AppealSubmittedHeader.cshtml" />
}

<main class="govuk-main-wrapper" id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel app-panel--success">
                <h1 class="govuk-panel__title">
                    Appeal submitted
                </h1>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Appeal submitted date</dt>
                    <dd class="govuk-summary-list__value">@Model.AppealSubmittedDate.ToSfaShortDateString()</dd>
                </div>
            </dl>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Your appeal</h2>
            <div class="govuk-!-margin-bottom-5">
                @if (!string.IsNullOrEmpty(Model.HowFailedOnPolicyOrProcesses))
                {
                    <details class="govuk-details govuk-!-margin-bottom-1" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                How did the ESFA has failed to follow its own policy or process?
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <pre class="govuk-body das-preformatted-body">@Model.HowFailedOnPolicyOrProcesses</pre>
                        </div>
                    </details>
                }

                @if (!string.IsNullOrEmpty(Model.HowFailedOnEvidenceSubmitted))
                {
                    <details class="govuk-details govuk-!-margin-bottom-1" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                How did the ESFA has failed to understand or recognise the evidence submitted?
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <pre class="govuk-body das-preformatted-body">@Model.HowFailedOnEvidenceSubmitted</pre>
                        </div>
                    </details>
                }
            </div>
            <p class="govuk-body">Your uploaded files:</p>

            @if (Model.AppealFiles == null || Model.AppealFiles.Count == 0)
            {
                <p class="govuk-body">No files added</p>
            }
            else
            {
                <ul class="govuk-list">
                    @foreach (var file in Model.AppealFiles)
                    {
                        <li>
                            <a class="govuk-link" asp-action="DownloadAppealFile" asp-controller="RoatpAppeals" asp-route-applicationId="@Model.ApplicationId" asp-route-fileName="@file.FileName">
                                @file.FileName
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body">
                The ESFA will review your appeal and aim to tell you the outcome within 15 working days.
            </p>
        </div>
    </div>
</main>