@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.AddEditPeopleInControlViewModel

@{
    bool showErrors = Model.ErrorMessages != null && Model.ErrorMessages.Count > 0;

    var isError = Model.ErrorMessages != null && Model.ErrorMessages.Count > 0 ? "govuk-input--error" : "";
}

<div class="govuk-form-group @(showErrors ? "govuk-form-group--error" : "")" sfa-validation-for="PersonInControlName" sfa-validationerror-class="form-group-error">

    <label for="PersonInControlName" class="govuk-label">Full name</label>

    <input id="PersonInControlName" name="PersonInControlName" type="text" class="govuk-input @isError" asp-for="PersonInControlName"
           sfa-validation-for="PartnerName" sfa-validationerror-class="form-control-error" />
</div>

@if (!Model.DateOfBirthOptional)
{
    <p class="govuk-label">Date of birth</p>
    <span class="govuk-hint" id="dob-hint">
        For example, 3 1980
    </span>
    <div class="govuk-date-input" id="dob">
        <div class="govuk-date-input__item">
            <div class="govuk-form-group" sfa-validation-for="PersonInControlDobMonth">
                <label class="govuk-label govuk-date-input__label" for="PersonInControlDobMonth">Month</label>
                <input value="@Model.PersonInControlDobMonth"
                       class="govuk-input govuk-date-input__input govuk-input--width-2 @isError"
                       id="PersonInControlDobMonth"
                       name="PersonInControlDobMonth"
                       type="number"
                       pattern="[0-9]*"
                       sfa-validation-for="PersonInControlDobMonth" />
            </div>
        </div>
        <div class="govuk-date-input__item">
            <div class="govuk-form-group" sfa-validation-for="PersonInControlDobYear">
                <label class="govuk-label govuk-date-input__label" for="PersonInControlDobYear">Year</label>
                <input value="@Model.PersonInControlDobYear"
                       class="govuk-input govuk-date-input__input govuk-input--width-4 @isError"
                       id="PersonInControlDobYear"
                       name="PersonInControlDobYear"
                       type="number"
                       pattern="[0-9]*"
                       sfa-validation-for="PersonInControlDobYear" />
            </div>
        </div>
    </div>
}