@using MoreLinq;
@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.AddEditPartnerViewModel

@{
    ViewBag.Title = "Enter the individual's details";
    Layout = "_Layout";

    bool showErrors = Model.ErrorMessages != null && Model.ErrorMessages.Count > 0;

    var isError = Model.ErrorMessages != null && Model.ErrorMessages.Count > 0 ? "govuk-input--error" : "";

}

<div class="govuk-phase-banner govuk-width-container roatp__navigation">
    <nav>
        <ul id="navigation" class="roatp__navigation " aria-label="Top Level Navigation">

            <li class="roatp__navigation-item">

                <a class="govuk-header__link" href="@Url.Action("TaskList", "RoatpApplication", new { Model.ApplicationId })">Application overview</a>

            </li>

        </ul>
    </nav>
</div>

<div class="grid-row">
    <form asp-controller="RoatpWhosInControlApplication" asp-action="PartnershipType" method="get" name="backForm">
        @Html.HiddenFor(x => x.ApplicationId)
        <a href="JavaScript:document.backForm.submit();" class="govuk-back-link">Back</a>
    </form>
</div>

@if (Model.ErrorMessages != null && Model.ErrorMessages.Count > 0)
{
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                @foreach (var errorMessage in Model.ErrorMessages.DistinctBy(x => x.ErrorMessage))
                {
                    <li><a sfa-validation-for="@errorMessage.Field">@errorMessage.ErrorMessage</a></li>
                }
            </ul>
        </div>
    </div>
}

<div class="govuk-width-container">

    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Enter the individual's details</h1>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" asp-action="AddIndividualPartnerDetails">
                    @Html.HiddenFor(x => x.ApplicationId)
                    @Html.HiddenFor(x => x.PartnerTypeIndividual)
                    <div class="govuk-form-group @(showErrors ? "govuk-form-group--error" : "")" sfa-validation-for="PartnerName" sfa-validationerror-class="form-group-error">

                        <label for="PartnerName" class="govuk-label">Full name</label>

                        <input id="PartnerName" name="PartnerName" type="text" class="govuk-input govuk-!-width-one-third @isError" asp-for="PartnerName"
                               sfa-validation-for="PartnerName" sfa-validationerror-class="form-control-error" />
                    </div>

                    <p class="govuk-label">Date of birth</p>
                    <span class="govuk-hint" id="dob-hint">
                        For example, 3 1980
                    </span>
                    <div class="govuk-date-input" id="dob">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group" sfa-validation-for="PartnerDobMonth">
                                <label class="govuk-label govuk-date-input__label" for="PartnerDobMonth">Month</label>
                                <input value="@Model.PartnerDobMonth"
                                       class="govuk-input govuk-date-input__input govuk-input--width-2 @isError"
                                       id="PartnerDobMonth"
                                       name="PartnerDobMonth"
                                       type="number"
                                       pattern="[0-9]*"
                                       sfa-validation-for="PartnerDobMonth" />
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group" sfa-validation-for="PartnerDobYear">
                                <label class="govuk-label govuk-date-input__label" for="PartnerDobYear">Year</label>
                                <input value="@Model.PartnerDobYear"
                                       class="govuk-input govuk-date-input__input govuk-input--width-4 @isError"
                                       id="PartnerDobYear"
                                       name="PartnerDobYear"
                                       type="number"
                                       pattern="[0-9]*"
                                       sfa-validation-for="PartnerDobYear" />
                            </div>
                        </div>
                    </div>


                    <button type="submit" class="govuk-button">Save and continue</button>

                </form>
            </div>
        </div>

    </main>
</div>


