@using SFA.DAS.ApplyService.Web.ViewModels.Roatp;
@model ConfirmPeopleInControlViewModel

@{
    ViewBag.Title = "Confirm who's in control";
    Layout = "_Layout";

    bool showErrors = TempData["ShowErrors"] as bool? ?? false;

}

<div class="govuk-phase-banner govuk-width-container roatp__navigation">
    <nav>
        <ul id="navigation" class="roatp__navigation " aria-label="Top Level Navigation">

            <li class="roatp__navigation-item">

                <a class="govuk-header__link" href="@Url.Action("TaskList", "RoatpApplication", new { Model.ApplicationId })">Application overview</a>

            </li>

        </ul>
    </nav>
</div>

<div class="grid-row">
    <form asp-controller="RoatpWhosInControlApplication" asp-action="AddPeopleInControl" method="get" name="backForm">
        @Html.HiddenFor(x => x.ApplicationId)
        <a href="JavaScript:document.backForm.submit();" class="govuk-back-link">Back</a>
    </form>
</div>

<div class="govuk-width-container">

    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <span class="govuk-caption-l">@Model.SectionTitle</span>
                <h1 class="govuk-heading-l">Confirm who's in control</h1>
            </div>
        </div>

        <table class="govuk-table">

            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    @foreach (var title in Model.PeopleInControlData.HeadingTitles)
                    {
                        <th class="govuk-table__header" scope="col">@Html.Raw(title)</th>
                    }
                    <th class="govuk-table__header" scope="col"></th>
                    <th class="govuk-table__header" scope="col"></th>
                </tr>
            </thead>
            <tbody class="govuk-table_body">
                @for (var index = 0; index < Model.PeopleInControlData.DataRows.Count; index++)
                {
                <tr class="govuk-table__row">
                    @foreach (var column in Model.PeopleInControlData.DataRows[index].Columns)
                    {
                        <td class="govuk-table__cell">@Html.Raw(column)</td>
                    }
                    <td class="govuk-table__cell"><a href="@Url.Action("EditPeopleInControl", "RoatpWhosInControlApplication", new { Model.ApplicationId, index })">Change</a></td>
                    <td class="govuk-table__cell"><a href="@Url.Action("RemovePeopleInControl", "RoatpWhosInControlApplication", new { Model.ApplicationId, index })">Remove</a></td>
                </tr>
                }
            </tbody>
        </table>
        @if (Model.PeopleInControlData.DataRows.Count < ConfirmPartnersViewModel.MaximumNumberOfPartners)
        {
            <div class="govuk-grid-row">
                <a class="govuk-link" href="@Url.Action("AddPeopleInControl", "RoatpWhosInControlApplication", new { Model.ApplicationId })">Add another person</a>
            </div>
        }

    </main>
</div>


