@using SFA.DAS.ApplyService.Web.ViewModels.Roatp;
@model ConfirmPeopleInControlViewModel

@{
    ViewBag.Title = "Confirm who's in control";
    Layout = "_Layout";

    bool showErrors = TempData["ShowErrors"] as bool? ?? false;

}

<partial name="~/Views/Roatp/ApplicationHeader.cshtml" />

@*
<form asp-controller="RoatpWhosInControlApplication" asp-action="AddPeopleInControl" method="get" name="backForm" novalidate>
    <input type="hidden" asp-for="ApplicationId" />
    <a href="JavaScript:document.backForm.submit();" class="govuk-back-link">Back</a>
</form>
*@

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">@Model.SectionTitle</span>
            <h1 class="govuk-heading-xl">Confirm who's in control</h1>
        </div>
    </div>

    <table class="govuk-table govuk-!-margin-bottom-3">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                @foreach (var title in Model.PeopleInControlData.HeadingTitles)
                {
                    <th class="govuk-table__header" scope="col">@Html.Raw(title)</th>
                }
                <th class="govuk-table__header" scope="col"></th>
                <th class="govuk-table__header" scope="col"></th>
            </tr>
        </thead>
        <tbody class="govuk-table_body">
            @for (var index = 0; index < Model.PeopleInControlData.DataRows.Count; index++)
            {
                <tr class="govuk-table__row">
                    @foreach (var column in Model.PeopleInControlData.DataRows[index].Columns)
                    {
                        <td class="govuk-table__cell">@column</td>
                    }
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a class="govuk-link govuk-link--no-visited-state" asp-action="EditPeopleInControl" asp-controller="RoatpWhosInControlApplication" asp-route-applicationId="@Model.ApplicationId" asp-route-index="@index">Change<span class="govuk-visually-hidden"> @Model.PeopleInControlData.DataRows[index].Columns[0]</span></a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a class="govuk-link govuk-link--no-visited-state" asp-action="RemovePeopleInControl" asp-controller="RoatpWhosInControlApplication" asp-route-applicationId="@Model.ApplicationId" asp-route-index="@index">Remove<span class="govuk-visually-hidden"> @Model.PeopleInControlData.DataRows[index].Columns[0]</span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.PeopleInControlData.DataRows.Count < ConfirmPartnersViewModel.MaximumNumberOfPartners)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body govuk-!-margin-bottom-8">
                    <a class="govuk-link" asp-action="AddPeopleInControl" asp-controller="RoatpWhosInControlApplication" asp-route-applicationId="@Model.ApplicationId">Add another person</a>
                </p>
            </div>
        </div>
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" asp-action="CompletePeopleInControlSection" novalidate>
                <input type="hidden" asp-for="ApplicationId" />
                <input type="hidden" asp-for="GetHelpAction" />

                <button type="submit" class="govuk-button">Confirm and continue</button>
            </form>
            <partial name="~/Views/Roatp/GetHelpWithThisQuestion.cshtml" />
        </div>
    </div>
</main>


