@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ConfirmPartnershipTypeViewModel

@{
    ViewBag.Title = "What is your organisation's partner?";
    Layout = "_Layout";
    
    bool showErrors = !ViewData.ModelState.IsValid;
}

<div class="govuk-phase-banner govuk-width-container roatp__navigation">
    <nav>
        <ul id="navigation" class="roatp__navigation " aria-label="Top Level Navigation">

            <li class="roatp__navigation-item">

                <a class="govuk-header__link" href="@Url.Action("TaskList", "RoatpApplication", new { Model.ApplicationId })">Application overview</a>

            </li>

        </ul>
    </nav>
</div>

<div class="grid-row">
    <form asp-controller="RoatpWhosInControlApplication" asp-action="SoleTraderOrPartnership" method="get" name="backForm">
        @Html.HiddenFor(x => x.ApplicationId)
        <a href="JavaScript:document.backForm.submit();" class="govuk-back-link">Back</a>
    </form>
</div>

@if (!ViewData.ModelState.IsValid || showErrors)
{
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                <li><a sfa-validation-for="PartnershipType"></a></li>
            </ul>
        </div>
    </div>
}

<div class="govuk-width-container">

    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <span class="govuk-caption-l">@Model.SectionTitle</span>
                <h1 class="govuk-heading-l">What is your organisation's partner?</h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    If there's more than one person or organisation, you can add them later.
                </p>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" asp-action="PartnershipTypeConfirmed">
                    @Html.HiddenFor(x => x.ApplicationId)
                    <div class="govuk-form-group @(showErrors ? "govuk-form-group--error" : "")" sfa-validation-for="PartnershipType" sfa-validationerror-class="govuk-error-message">
                        @if (showErrors)
                        {
                            <span class="govuk-error-message">
                                @Html.Raw(Model.ErrorMessages.FirstOrDefault(x => x.Field == "PartnershipType")?.ErrorMessage)
                            </span>
                        }
                        <fieldset class="govuk-fieldset">

                            <div class="govuk-radios">

                                <div class="govuk-radios__item">

                                    <input asp-for="PartnershipType" class="govuk-radios__input" id="PartnershipType-Individual"
                                           name="PartnershipType" type="radio" value="Individual"
                                           sfa-validation-for="PartnershipType" sfa-validationerror-class="form-control-error">
                                    <label class="govuk-label govuk-radios__label" for="PartnershipType-Individual">
                                        An individual
                                    </label>

                                </div>

                                <div class="govuk-radios__item">

                                    <input asp-for="PartnershipType" class="govuk-radios__input" id="PartnershipType-Organisation"
                                           name="PartnershipType" type="radio" value="Organisation"
                                           sfa-validation-for="PartnershipType" sfa-validationerror-class="form-control-error">
                                    <label class="govuk-label govuk-radios__label" for="PartnershipType-Organisation">
                                        An organisation
                                    </label>

                                </div>

                            </div>
                        </fieldset>
                    </div>
                    <input type="submit" class="govuk-button" value="Save and continue" />
                </form>
            </div>
        </div>
    </main>
</div>


