@model SFA.DAS.ApplyService.Web.Controllers.SequenceViewModel

@{
ViewBag.Title = "title";
Layout = "_Layout";
}

<a href="@Url.Action("Sequences", "Application")" class="govuk-back-link">Back to application overview</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model == null)
            {
            <h1 class="govuk-heading-xl">Sequence not active</h1>
            }
            else
            {
            <h1 class="govuk-heading-xl">@Model.Title</h1>

            foreach (var sect in Model.Sections)
            {
            <h2 class="govuk-heading-m">@sect.Title</h2>
            <dl class="app-check-your-answers app-check-your-answers--short">
                @foreach (var pg in sect.Pages)
                {
                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">@pg.LinkTitle</dt>
                    @if (pg.Complete)
                    {
                    <dd class="app-check-your-answers__answer">
                        <ul class="govuk-list">
                            @foreach (var pageanswer in pg.PageOfAnswers)
                            {
                            foreach (var answer in pageanswer.Answers)
                            {
                            <li>@answer?.Value</li>
                            }
                            }
                        </ul>
                    </dd>
                    <dd class="app-check-your-answers__change">
                        <a href="@Url.Action("Page", "Application" , new {pageId=pg.PageId, applicationId=Model.ApplicationId})">Change <span class="govuk-visually-hidden"> @pg.LinkTitle</span></a>
                    </dd>
                    }
                    else
                    {
                    if (pg.Active)
                    {
                    <dd class="app-check-your-answers__change">
                        <a href="@Url.Action("Page", "Application" , new {pageId=pg.PageId, applicationId=Model.ApplicationId})">Answer required</a>
                    </dd>
                    }
                    else
                    {
                    <dd class="app-check-your-answers__change">
                        Page not yet active
                    </dd>
                    }
                    }
                </div>
                }
            </dl>
            }
            }
        </div>
    </div>
</main>