@model SFA.DAS.ApplyService.Web.Controllers.SequenceViewModel

@{
ViewBag.Title = @Model.Title;
Layout = "_Layout";
}

<a href="@Url.Action("Sequences", "Application")" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model == null)
            {
                <h1 class="govuk-heading-xl">Sequence not active</h1>
            }
            else
            {
                <h1 class="govuk-heading-xl">@Model.Title</h1>
                <ol class="app-task-list">

                    @foreach (var sect in Model.Sections)
                    {
                        <li>
                            <h2 class="app-task-list__section">
                                @sect.Title
                            </h2>
                            <ul class="app-task-list__items app-task-list__items--no-number">
                                @foreach (var pg in sect.Pages.Where(p => p.Active))
                                {
                                    <li class="app-task-list__item">
                                        <a class="app-task-list__task-name" href="@Url.Action("Page", "Application" , new {pageId=pg.PageId, applicationId=Model.ApplicationId})" aria-describedby="eligibility-completed">
                                            @pg.LinkTitle
                                        </a>
                                        @if (pg.Complete)
                                        {
                                            <strong class="govuk-tag app-task-list__task-completed" id="page-@pg.PageId-completed">Completed</strong>
                                        }
                                    </li>
                                }
                            </ul>
                        </li>
                    }

                </ol>

                <a href="@Url.Action("Sequences", "Application")" class="govuk-button">Return to application overview</a>
            }
        </div>
    </div>
</main>