@using SFA.DAS.ApplyService.Web.ViewModels
@model SFA.DAS.ApplyService.Web.ViewModels.StandardViewModel

@{
    ViewBag.Title = "Confirm Standard";
    Layout = "_Layout";
    bool showErrors = TempData["ShowErrors"] as bool? ?? false;
    var standardCode = Model.StandardCode;
}

<a href="/standard/@Model.ApplicationId" class="govuk-back-link">Return to standards search</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    @if (!ViewData.ModelState.IsValid || showErrors)
    {
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                        <li><a href="#IsConfirmed">Please tick box to confirm</a></li>
                </ul>
            </div>
        </div>
    }
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Confirm you want to offer the standard: @Model.SelectedStandard?.Title
                <span class="govuk-caption-xl">Standard Code: @Model.SelectedStandard?.StandardId</span>
            </h1>

            <div>Effective From: @Model.SelectedStandard?.StandardData?.EffectiveFrom</div>
            <div>Effective To: @Model.SelectedStandard?.StandardData?.EffectiveTo</div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form asp-action="StandardConfirm" asp-controller="Standard" asp-route-applicationId="@Model.ApplicationId">
                <input asp-for="@Model.StandardCode" value="@standardCode" type="hidden" />
            @if (!ViewData.ModelState.IsValid || showErrors)
            {
                <span id="search-string-error" class="govuk-error-message">Please tick to confirm</span>
            }
            @if (string.IsNullOrEmpty(Model.ApplicationStatus))
            {
                <div><input type="Checkbox" name="IsConfirmed" asp-for="@Model.IsConfirmed"/> By continuing with this application you are confirming you have read the assessment plan
                </div>
                <p class="govuk-body">Once you confirm you will be able to view the assessment plan for @Model.SelectedStandard?.Title and start the required application process.</p>
                <button type="submit" class="govuk-button">Confirm and apply</button>
            }
            else
            {
                if (Model.ApplicationStatus == "Approved")
                {
                    <div>You are already approved to assess this standard</div>
                }
                else
                {
                    <div>You have already applied to assess this standard. Your application is pending.</div>
                }
            }
            </form>
        </div>
    </div>


</main>
