@using SFA.DAS.ApplyService.Web.ViewModels
@model SFA.DAS.ApplyService.Web.ViewModels.StandardViewModel

@{
    ViewBag.Title = "Standard Results";
    Layout = "_Layout";
}

<a href="/standard/@Model.ApplicationId" class="govuk-back-link">Return to standards search</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Standard search results for @Model.StandardToFind
                <span class="govuk-caption-xl">Number of results: @Model.Results.Count</span>
            </h1>
        </div>
    </div>

    @if (@Model.Results.Count > 0)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-form-group">
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">Name</th>
                                <th class="govuk-table__header" scope="col">Reference</th>
                                <th class="govuk-table__header" scope="col">Level</th>
                                <th class="govuk-table__header" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var result in Model.Results.OrderBy(x => x.Title))
                            {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" data-label="Name">@result.Title</td>
                                <td class="govuk-table__cell" data-label="Reference">@result.ReferenceNumber</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Level">@result.StandardData?.Level</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <a href="/standard/@Model.ApplicationId/confirm-standard/@result.StandardId" class="govuk-link">Apply for standard</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-form-group">
                    <p class="govuk-body">There are no matching results.</p>
                </div>
            </div>
        </div>
    }

</main>