@using System.Text.RegularExpressions;

@model SFA.DAS.ApplyService.Web.ViewModels.OrganisationSearchViewModel

@{
    ViewBag.Title = "Confirm organisation";
    Layout = "_Layout";

    bool showErrors = TempData["ShowErrors"] as bool? ?? false;
    var organisation = Model.Organisations?.FirstOrDefault();
    var organisationType = Model.OrganisationTypes?.FirstOrDefault(ot => ot.Type == organisation?.OrganisationType);

    var epaoRegex = new Regex(@"[eE][pP][aA][0-9]{4,9}$");
    var epaoId = organisation?.Id?.Split(',').FirstOrDefault(id => epaoRegex.Match(id).Success);
}

<a asp-action="Results" asp-controller="OrganisationSearch" asp-route-searchString="@Model.SearchString" class="govuk-back-link">Back to search results</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        @if (organisation != null)
        {
            <div class="govuk-grid-column-full">
                <form method="post" asp-action="Create" asp-controller="OrganisationSearch" novalidate>
                    <input asp-for="SearchString" type="hidden" />
                    <input asp-for="Name" type="hidden" />
                    <input asp-for="Ukprn" type="hidden" />
                    <input asp-for="OrganisationType" type="hidden" />
                    <input asp-for="Postcode" type="hidden" />


                    <div class="govuk-form-group">
                        <h1 class="govuk-heading-xl">Confirm organisation</h1>

                        <h2 class="govuk-heading-m">@organisation.Name</h2>

                        @if (organisation.Address?.Postcode != null)
                        {
                            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Address</p>
                            <p class="govuk-body">@string.Join(", ", organisation.Address?.Address1, organisation.Address?.City, organisation.Address.Postcode)</p>
                        }

                        @if (organisation.TradingName != null || organisation.ProviderName != null)
                        {
                            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Trading name</p>
                            <p class="govuk-body">@(organisation.TradingName ?? organisation.ProviderName)</p>
                        }

                        @if (organisationType?.TypeDescription != null)
                        {
                            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Type</p>
                            <p class="govuk-body">@organisationType.TypeDescription</p>
                        }

                        @if (organisation.Ukprn != null)
                        {
                            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">UKPRN</p>
                            <p class="govuk-body">@organisation.Ukprn</p>
                        }

                        @if (epaoId != null)
                        {
                            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">EPAO ID</p>
                            <p class="govuk-body">@epaoId</p>
                        }

                        @if (organisation.CompanyNumber != null)
                        {
                            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Company number</p>
                            <p class="govuk-body">@organisation.CompanyNumber</p>
                        }

                        @if (organisation.CharityNumber != null)
                        {
                            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Charity number</p>
                            <p class="govuk-body">@organisation.CharityNumber</p>
                        }
                    </div>
                    <button type="submit" class="govuk-button">Confirm</button>
                </form>

                <p class="govuk-body">
                    <a class="govuk-link" asp-action="Results" asp-controller="OrganisationSearch" asp-route-searchString="@Model.SearchString">Choose a different organisation</a>
                </p>
            </div>
        }
        else
        {
            <div class="govuk-grid-column-full">
                <div class="govuk-form-group">
                    <h1 class="govuk-heading-l">We cannot find your organisation details</h1>
                    <p class="govuk-body">Check the:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>spelling of the name</li>
                        <li><abbr title="UK provider reference number">UKPRN</abbr> is correct</li>
                        <li><abbr title="End-point assessor organisation">EPAO ID</abbr> is correct</li>
                        <li>company number</li>
                        <li>charity number</li>
                    </ul>
                </div>

                <p class="govuk-body">
                    <a class="govuk-link" asp-action="Results" asp-controller="OrganisationSearch" asp-route-searchString="@Model.SearchString">Back to search results</a>
                </p>
            </div>
        }
    </div>
</main>