@model SFA.DAS.ApplyService.Domain.Entities.Organisation

@{
    ViewBag.Title = "Done";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l">
                        Done
                    </label>
                </h1>
            </div>
            <ul>
                <li>To Do: Details will be saved to the database</li>
                <li>To Do: Go to a better page</li>
            </ul>
        </div>
    </div>

    <div class="govuk-grid-row search-results">
        <div class="govuk-grid-column-two-thirds">
        </div>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-4 govuk-!-padding-left-2">
                        <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-0">
                            <span class="govuk-body govuk-!-font-weight-bold">Name</span>
                            @if (Model.Name == null)
                            {
                                @("Unknown");
                            }
                            else
                            {
                                @Model.Name
                            }
                        </p>
                        <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-0">
                            <span class="govuk-body govuk-!-font-weight-bold">Address</span>
                            @if (Model.OrganisationDetails == null)
                            {
                                @("Unknown");
                            }
                            else
                            {
                                @string.Join(", ", @Model.OrganisationDetails?.Address1, @Model.OrganisationDetails?.City, @Model.OrganisationDetails?.Postcode);
                            }
                        </p>
                        <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-0">
                            <span class="govuk-body govuk-!-font-weight-bold">Type</span>
                            @if (Model.OrganisationType == null)
                            {
                                @("Unknown");
                            }
                            else
                            {
                                @Model.OrganisationType;
                            }
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>

