@model SFA.DAS.ApplyService.Web.ViewModels.OrganisationSearchViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration configuration

@{
    ViewBag.Title = "Search results";
    Layout = "_Layout";

    bool showErrors = TempData["ShowErrors"] as bool? ?? false;
}

@*<a asp-action="Index" asp-controller="OrganisationSearch" class="govuk-back-link">Search again</a>*@

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method="get" asp-action="Results" asp-controller="OrganisationSearch" novalidate>
                @if (!ViewData.ModelState.IsValid || showErrors)
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li>Please select an organisation</li>
                            </ul>
                        </div>
                    </div>
                }

                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--xl" for="company-name">
                            Search results for
                        </label>
                    </h1>
                    <input class="govuk-input govuk-input--width-20" asp-for="SearchString" minlength="2" required />
                </div>
                <button type="submit" class="govuk-button">Search</button>
            </form>
        </div>
    </div>

    <div class="govuk-grid-row search-results">
        <div class="govuk-grid-column-two-thirds">
            @if (@Model.Organisations != null && @Model.Organisations.Any())
            {
                <span class="govuk-body">@Model.OrganisationFoundString()</span>
                <table class="govuk-table govuk-!-margin-top-4">
                    <tbody class="govuk-table__body">
                        @foreach (var result in Model.Organisations)
                        {
                            <tr class="govuk-table__row govuk-table__row--no-top-padding-on-first-child">
                                <td class="govuk-table__header--no-bottom-border">
                                    <form method="post" asp-action="@(result.RoEPAOApproved ? "Confirm" : "Type")" asp-controller="OrganisationSearch" novalidate>
                                        <input asp-for="SearchString" type="hidden" />
                                        <input asp-for="Name" value="@result.Name" type="hidden" />
                                        <input asp-for="Ukprn" value="@result.Ukprn" type="hidden" />
                                        <input asp-for="OrganisationType" value="@result.OrganisationType" type="hidden" />
                                        <input asp-for="Postcode" value="@result.Address?.Postcode" type="hidden" />

                                        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
                                            <button type="submit" class="govuk-button govuk-button__looks-like-link--no-decoration">@result.Name</button>
                                        </p>
                                    </form>
                                    <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-1">
                                        <span class="govuk-body govuk-!-font-weight-bold">Address:</span>
                                        @if (result.Address?.Postcode == null)
                                        {
                                            @("Unknown");
                                        }
                                        else
                                        {
                                            @string.Join(", ", @result.Address?.Address1, @result.Address?.City, @result.Address.Postcode);
                                        }
                                    </p>
                                    @*Caters for both PROD and PREPROD*@
                                    @if (!configuration["EnvironmentName"].EndsWith("PROD", StringComparison.InvariantCultureIgnoreCase))
                                    {
                                        @if (result.OrganisationType != null)
                                        {
                                            <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-0">
                                                <span class="govuk-body govuk-!-font-weight-bold">Type:</span>
                                                @result.OrganisationType
                                            </p>
                                        }
                                        @* ON-1205 - request to show flags of what results were found in non-PROD environments *@
                                        <p class="govuk-body govuk-!-font-weight-regular govuk-!-margin-bottom-0">
                                            <span class="govuk-body govuk-!-font-weight-bold">Found on:</span>
                                            @if (result.RoEPAOApproved)
                                            {
                                                <span>RoEPAO</span>
                                            }
                                            @if (result.RoEPAOApproved && result.RoATPApproved)
                                            {
                                                <span> and </span>
                                            }
                                            @if (result.RoATPApproved)
                                            {
                                                <span>RoATP</span>
                                            }
                                            @if (!result.RoEPAOApproved && !result.RoATPApproved)
                                            {
                                                switch (result.EasApiOrganisationType)
                                                {
                                                    case "Charity":<span>Charity Commission</span> break;
                                                    case "Company": <span>Companies House</span> break;
                                                    case "PublicSector": <span>EASAPI - Public Sector</span>break;
                                                    case "EducationOrganisation": <span>EASAPI - Education Organisation</span> break;
                                                    default: <span>EASAPI</span>break;
                                                }
                                            }
                                        </p>
                                    }
                                    @if (result.RoEPAOApproved && result.OrganisationIsLive)
                                    {
                                        <p class="govuk-body">
                                            <strong class="govuk-tag">
                                                ACTIVE ACCOUNT
                                            </strong>
                                        </p>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="govuk-form-group">
                    <h1 class="govuk-heading-xl">We cannot find your organisation details</h1>
                    <p class="govuk-body">Check the:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>spelling of the name</li>
                        <li><abbr title="UK provider reference number">UKPRN</abbr> is correct</li>
                        <li><abbr title="End-point assessor organisation">EPAO ID</abbr> is correct</li>
                        <li>company number</li>
                        <li>charity number</li>
                    </ul>
                </div>
            }
        </div>
    </div>
</main>