@model SFA.DAS.ApplyService.Web.ViewModels.OrganisationSearchViewModel

@{
    ViewBag.Title = "Select organisation type";
    Layout = "_Layout";
}

<a asp-action="Index" asp-controller="OrganisationSearch" class="govuk-back-link">Back</a> @*<-- make it go to results*@

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="get" asp-action="Done" asp-controller="OrganisationSearch" novalidate>
                @*should i make this a post as in the prototype?*@
                @Html.HiddenFor(c => c.Name)
                @Html.HiddenFor(c => c.Ukprn)
                @Html.HiddenFor(c => c.Postcode)

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                            There's a problem
                        </h2>
                        <ul class="error-summary-list">
                            <li>Please select an organisation type</li>
                        </ul>
                    </div>
                }

                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="OrganisationType">
                            Select Organisation Type
                        </label>
                    </h1>

                    @if (Model.OrganisationTypes != null)
                    {
                        <div class="govuk-radios">
                            @foreach (var orgType in Model.OrganisationTypes)
                            {
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" asp-for="OrganisationType" id="@orgType.Type.Replace(" ", "_")" type="radio" value="@orgType.Type" />
                                    <label class="govuk-label govuk-radios__label" asp-for="OrganisationType">@orgType.Type</label>
                                </div>
                            }
                        </div>
                        <button type="submit" class="govuk-button">Submit</button>
                    }
                    else
                    {
                        <h1 class="heading-large">We cannot get organisation types at this point in time</h1>
                    }
                </div>
            </form>
        </div>
    </div>

</main>