@model SFA.DAS.ApplyService.Web.ViewModels.OrganisationSearchViewModel

@{
    ViewBag.Title = "Select type";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-full">
        <a asp-action="Results" asp-controller="OrganisationSearch" class="link-back">Back</a>

        <h1 class="heading-xlarge">
            Select Organisation Type
        </h1>

        @if (@Model.OrganisationTypes != null && @Model.OrganisationTypes.Any())
        {
        <form method="get" asp-action="Done" asp-controller="OrganisationSearch">
            @Html.HiddenFor(c => c.Name)
            @Html.HiddenFor(c => c.Ukprn)
            @Html.HiddenFor(c => c.Postcode)

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        There's a problem
                    </h2>
                    <ul class="error-summary-list">
                        <li>Please select an organisation type</li>
                    </ul>
                </div>
            }

            <div class="form-group" sfa-validation-for="OrganisationType" sfa-validationerror-class="form-group-error">
                @foreach (var orgType in Model.OrganisationTypes)
                {
                    <div class="multiple-choice">
                        <input asp-for="OrganisationType" id="@orgType.Type.Replace(" ", "_")" type="radio" value="@orgType.Type" />
                        <label for="@orgType.Type.Replace(" ", "_")">
                            @orgType.Type
                        </label>
                    </div>
                }
            </div>

            <button type="submit" class="button">Continue</button>
        </form>
        }
        else
        {
        <h1 class="heading-large">We cannot get organisation types at this point in time</h1>
        }
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-medium">What do you want to do next?</h2>
        <ul class="list list-bullet">
            <li><a asp-action="Index" asp-controller="OrganisationSearch">Search Again</a></li>
        </ul>
    </div>
</div>