@model dynamic

@{
    var isError = Model.ErrorMessages != null && Model.ErrorMessages.Count > 0 ? "govuk-input--error" : "";
    var inputClasses = Model.InputClasses != null ? Model.InputClasses : "";
}

@if (Model.ErrorMessages != null && Model.ErrorMessages.Count > 0)
{
    foreach (var errorMessage in Model.ErrorMessages)
    {
        if (errorMessage.Field == Model.QuestionId)
        {
            <span class="govuk-error-message">@errorMessage.ErrorMessage</span>
        }
    }
}

<div class="govuk-form-group">
    <div id="postcode-lookup" class="autocomplete-wrapper"></div>
</div>

<div class="address-inputs">
    <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="@(Model.QuestionId)_1">
            Building and street
        </label>
        <input
            class="govuk-input govuk-!-margin-bottom-2"
            type="text"
            id="@(Model.QuestionId)_1"
            name="@(Model.QuestionId)_1" 
            value="@Model.Value"
        >
        <input 
            class="govuk-input"
            type="text"
            id="@(Model.QuestionId)_2"
            name="@(Model.QuestionId)_2" 
            value="@Model.Value"
        >
    </div>
    <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="@(Model.QuestionId)_3">
            Town or city
        </label>
        <input
            class="govuk-input govuk-!-width-two-thirds"
            type="text"
            id="@(Model.QuestionId)_3"
            name="@(Model.QuestionId)_3"
            value="@Model.Value"
        >
    </div>
    <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="@(Model.QuestionId)_4">
            County
        </label>
        <input
            class="govuk-input govuk-!-width-two-thirds" 
            type="text"
            id="@(Model.QuestionId)_4"
            name="@(Model.QuestionId)_4" 
            value="@Model.Value"
        >
    </div>
    <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="@(Model.QuestionId)_5">
            Postcode
        </label>
        <input
            class="govuk-input govuk-input--width-10" 
            type="text"
            id="@(Model.QuestionId)_5"
            name="@(Model.QuestionId)_5"
            value="@Model.Value"
        >
    </div>
</div>
