@model SFA.DAS.ApplyService.Web.Controllers.QuestionViewModel

<div class="govuk-form-group" sfa-validation-for-id="@Model.QuestionId">

    @{
        var radioChecked = Model.Value == Model.Options[0].Value.ToString() ? "checked" : "";
    }

    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
        <div class="govuk-radios__item">
            <input class="govuk-radios__input " type="radio" id="@(Model.QuestionId)" name="@Model.QuestionId" value="@Model.Options[0].Value" @radioChecked />
            <label class="govuk-label govuk-radios__label" for="@(Model.QuestionId)">@Model.Options[0].Label</label>
        </div>
        @for (int i = 1; i < Model.Options.Count; i++)
        {
            radioChecked = Model.Value == Model.Options[i].Label.ToString() ? "checked" : "";
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" type="radio" id="@(Model.QuestionId + "_" + i)" name="@Model.QuestionId" value="@Model.Options[i].Label" data-aria-controls="conditional-@(Model.QuestionId + "_" + i)" @radioChecked>
                <label class="govuk-label govuk-radios__label" for="@(Model.QuestionId + "_" + i)">@Model.Options[i].Label</label>
            </div>
            if (Model.Options[i].FurtherQuestions != null)
            {
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-@(Model.QuestionId + "_" + i)">
                    @for (int furtherQuestionIndex = 0; furtherQuestionIndex < Model.Options[i].FurtherQuestions.Count; furtherQuestionIndex++)
                    {
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="@Model.Options[i].FurtherQuestions[furtherQuestionIndex].QuestionId">@Model.Options[i].FurtherQuestions[furtherQuestionIndex].Label</label>
                            @HtmlHelperPartialExtensions.Partial(Html, $"~/Views/Application/Pages/Controls/_{Model.Options[i].FurtherQuestions[furtherQuestionIndex].Input.Type}.cshtml", Model.Options[i].FurtherQuestions[furtherQuestionIndex])
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>