@model SFA.DAS.ApplyService.Web.Controllers.QuestionViewModel

@* @if (!string.IsNullOrWhiteSpace(Model.Value)) *@
@* { *@
@*     <table class="govuk-table"> *@
@*         <thead class="govuk-table__head"> *@
@*         <tr class="govuk-table__row"> *@
@*             <th class="govuk-table__header" scope="col">Uploaded file</th> *@
@*             <th class="govuk-table__header" scope="col"></th> *@
@*         </tr> *@
@*         </thead> *@
@*         <tbody class="govuk-table__body"> *@
@*         <tr class="govuk-table__row"> *@
@*             <td class="govuk-table__cell govuk-table__cell--break-word" scope="row"> *@
@*                  <a class="govuk-link" href="@Url.Action("Download", "Application", new *@
@*                           { *@
@*                               applicationId = Model.ApplicationId, *@
@*                               sequenceId = Model.SequenceId, *@
@*                               sectionId = Model.SectionId, *@
@*                               pageId = Model.PageId, *@
@*                               questionId = Model.QuestionId, *@
@*                               filename = Model.Value *@
@*                           })" download> *@
@*                      @Model.Value *@
@*                  </a> *@
@*             </td> *@
@*             <td class="govuk-table__cell govuk-table__cell--numeric"> *@
@*                  <a class="govuk-link" href="@Url.Action("DeleteFile", "Application", new *@
@*                                              { *@
@*                                                  applicationId = Model.ApplicationId, *@
@*                                                  sequenceId = Model.SequenceId, *@
@*                                                  sectionId = Model.SectionId, *@
@*                                                  pageId = Model.PageId, *@
@*                                                  questionId = Model.QuestionId, *@
@*                                                  redirectAction = Model.RedirectAction *@
@*                                              })"> *@
@*                      Remove *@
@*                      <span class="govuk-visually-hidden"> file</span> *@
@*                  </a> *@
@*             </td> *@
@*         </tr> *@
@*         </tbody> *@
@*     </table> *@
@* } *@
@* else *@

    @if (Model.ErrorMessages != null && Model.ErrorMessages.Count > 0)
    {
        foreach (var errorMessage in Model.ErrorMessages)
        {
            if (errorMessage.Field == Model.QuestionId)
            {
                <span class="govuk-error-message">@errorMessage.ErrorMessage</span>
            }
        }
    }

    <input
        type="file"
        class="govuk-file-upload"
        id="@Model.QuestionId"
        name="@Model.QuestionId"
        accept=".pdf,application/pdf"/>

    <div class="js-file-upload">
        <div class="js-uploaded-container">
            <h2 class="govuk-heading-m">Uploaded files</h2>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">File name</th>
                    <th class="govuk-table__header" scope="col">
                        <span class="govuk-visually-hidden-focusable">Action</span>
                    </th>
                </tr>
                </thead>
                <tbody class="govuk-table__body js-uploaded-files">
                
                @foreach (var uploadedFile in Model.FileUploadInfo.Uploads)
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">
                            
                            <a class="govuk-link" href="@Url.Action("Download", "Application", new
                                                        {
                                                            applicationId = Model.ApplicationId,
                                                            sequenceId = Model.SequenceId,
                                                            sectionId = Model.SectionId,
                                                            pageId = Model.PageId,
                                                            questionId = Model.QuestionId,
                                                            filename = Model.Value
                                                        })" download>
                                @uploadedFile.Filename
                            </a>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a class="govuk-link" href="@Url.Action("DeleteFile", "Application", new
                                                        {
                                                            applicationId = Model.ApplicationId,
                                                            sequenceId = Model.SequenceId,
                                                            sectionId = Model.SectionId,
                                                            pageId = Model.PageId,
                                                            questionId = Model.QuestionId,
                                                            redirectAction = Model.RedirectAction,
                                                            fileName = uploadedFile.Filename
                                                        })">
                                Remove
                                <span class="govuk-visually-hidden"> file</span>
                            </a>
                        </td>
                    </tr>
                }
                
                
                </tbody>
            </table>
            <ul class="govuk-list js-uploaded-files"></ul>
            
        </div>

        <div href="#" class="js-drop-target">
            <div class="js-upload-controls">
                <p class="govuk-body govuk-!-margin-bottom-1">Drag files here</p>
                <p class="govuk-body govuk-!-margin-bottom-0">or <a class="js-browse-link govuk-link" href="#">choose files to upload</a></p>
            </div>
            <div class="js-upload-progress"></div>
        </div>
    </div>


<script src="@Url.Content("~/javascripts/resumable.js")"></script>
<script src="@Url.Content("~/javascripts/das-file-uploads.js")"></script>
<script type="text/javascript">
  GOVUK.fileUpload.init({
        target: "/Upload/Chunks",
        testChunks: false,
        chunkSize: 100000,
        query: {
            applicationId: "@Model.ApplicationId",
            sequenceId: @Model.SequenceId,
            sectionId: @Model.SectionId,
            page: @Model.PageId,
            questionId: "@Model.QuestionId"
        },
        // maxFiles: @( Model.FileUploadInfo.NumberOfUploadsRequired == null ? "undefined" : Model.FileUploadInfo.NumberOfUploadsRequired.ToString()),
        maxFiles: 1,
        maxFileSize: 1e7, // 10mb
        fileType: [
            "application/pdf"
        ]

    })
</script>