@model SFA.DAS.ApplyService.Web.Controllers.QuestionViewModel

@{
    var isError = Model.ErrorMessages != null && Model.ErrorMessages.Count > 0 ? "govuk-input--error" : "";
}

@if (Model.ErrorMessages != null && Model.ErrorMessages.Count > 0)
{
    foreach (var errorMessage in Model.ErrorMessages)
    {
        if (errorMessage.Field == Model.QuestionId)
        {
            <span class="govuk-error-message">@errorMessage.ErrorMessage</span>
        }
    }
}

<div class="govuk-form-group">

    @{ var isInline = Model.Options.Count <= 2 ? "govuk-radios--inline" : ""; }

    <div class="govuk-radios @isInline">
        @for (int i = 0; i < Model.Options.Count; i++)
        {
            var radioChecked = Model.Value == Model.Options[i].Value.ToString() ? "checked" : "";
            var optionId = Model.QuestionId + (i == 0 ? "" : "_" + i);
        <div class="govuk-radios__item">
            @if (Model.Options[i].HasHintText)
            {
                <input class="govuk-radios__input" type="radio" id="@optionId" name="@Model.QuestionId" value="@Model.Options[i].Value" @radioChecked aria-describedby="@optionId-hint">
            }
            else
            {
                <input class="govuk-radios__input" type="radio" id="@optionId" name="@Model.QuestionId" value="@Model.Options[i].Value" @radioChecked>
            }
            <label class="govuk-label govuk-radios__label" for="@(Model.QuestionId + (i == 0 ? "" : "_" + i))">@Model.Options[i].Label</label>
            <span id="@optionId-hint" class="govuk-hint govuk-radios__hint">
                @Html.Raw(Model.Options[i].HintText)
            </span>
        </div>
        }
    </div>

</div>