@model dynamic

@{
    var isError = Model.ErrorMessages != null && Model.ErrorMessages.Count > 0 ? "govuk-input--error" : "";
}

@if (Model.ErrorMessages != null && Model.ErrorMessages.Count > 0)
{
    foreach (var errorMessage in Model.ErrorMessages)
    {
        if (errorMessage.Field == Model.QuestionId)
        {
            <span class="govuk-error-message">@errorMessage.ErrorMessage</span>
        }
    }
}

@if (Model.Disabled)
{
    @Model.Value
}
else
{
    <input class="govuk-input govuk-!-width-two-thirds @isError"
           sfa-validation-for-id="@Model.QuestionId"
           type="text"
           id="@Model.QuestionId"
           name="@Model.QuestionId"
           value="@Model.Value" />    
}
