@using MoreLinq;
@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.AddEditManagementHierarchyViewModel

@{
    bool showErrors = Model.ErrorMessages != null && Model.ErrorMessages.Count > 0;

    var nameError = showErrors && Model.ErrorMessages.FirstOrDefault(x => x.Field == "FullName") != null ? "govuk-input--error" : "";
    var showNameError = !String.IsNullOrEmpty(nameError);

    var jobRoleError = showErrors && Model.ErrorMessages.FirstOrDefault(x => x.Field == "JobRole") != null ? "govuk-input--error" : "";
    var showJobRoleError = !String.IsNullOrEmpty(jobRoleError);

    var timeInRoleError = showErrors && Model.ErrorMessages.FirstOrDefault(x => x.Field == "TimeInRole") != null ? "govuk-input--error" : "";
    var showTimeInRoleError = !String.IsNullOrEmpty(timeInRoleError);
    
    var isPartOfOtherOrgError = showErrors && Model.ErrorMessages.FirstOrDefault(x => x.Field == "IsPartOfOtherOrgThatGetsFunding") != null ? "govuk-input--error" : "";
    var showIsPartOfOtherOrgError = !String.IsNullOrEmpty(isPartOfOtherOrgError);
 
    var errorMessages = Model.ErrorMessages != null ? Model.ErrorMessages.DistinctBy(x => x.ErrorMessage) : null;

    var checkedOtherOrgYes = Model.IsPartOfOtherOrgThatGetsFunding=="Yes" ? "checked": null;
    var checkedOtherOrgNo = Model.IsPartOfOtherOrgThatGetsFunding =="No" ? "checked": null;
}

<div class="govuk-form-group @(showNameError ? "govuk-form-group--error" : "")" sfa-validation-for="FullName" sfa-validationerror-class="form-group-error">
    <label for="FullName" class="govuk-label">Full name</label>
    @if (showErrors)
    {
            @foreach(var nameErrorMessage in errorMessages.Where(x => x.Field == "FullName"))
            {
                <span class="govuk-error-message">
                    @nameErrorMessage.ErrorMessage
                </span>
            }
    }
    <input type="text" class="govuk-input @nameError" asp-for="FullName" sfa-validation-for="PersonName" sfa-validationerror-class="form-control-error" />
</div>

<div class="govuk-form-group @(showJobRoleError ? "govuk-form-group--error" : "")" sfa-validation-for="JobRole" sfa-validationerror-class="form-group-error">
    <label for="JobRole" class="govuk-label">Job role</label>
    @if (showErrors)
    {
            @foreach(var jobRoleErrorMessage in errorMessages.Where(x => x.Field == "JobRole"))
            {
                <span class="govuk-error-message">
                    @jobRoleErrorMessage.ErrorMessage
                </span>
            }
    }
    <input type="text" class="govuk-input @jobRoleError" asp-for="JobRole" sfa-validation-for="PersonJobRole" sfa-validationerror-class="form-control-error" />
</div>

<div class="govuk-form-group @((showTimeInRoleError) ? "govuk-form-group--error" : "")" sfa-validation-for="TimeInRoleMonths" sfa-validationerror-class="form-group-error">
    <p class="govuk-label">Time in role</p>
    <span class="govuk-hint" id="dob-hint">
        For example, 3 02
    </span>
    @if (showErrors)
    {
            @foreach (var timeInRoleMonthsMessage in errorMessages.Where(x => x.Field == "TimeInRole"))
            {
                <span class="govuk-error-message">
                    @timeInRoleMonthsMessage.ErrorMessage
                </span>
            }
    }
    <div class="govuk-date-input" id="TimeInRole">
        <div class="govuk-date-input__item">
            <div class="govuk-form-group" sfa-validation-for="TimeInRoleYears">
                <label class="govuk-label govuk-date-input__label" for="TimeInRoleYears">Years</label>
                <input value="@Model.TimeInRoleYears"
                       class="govuk-input govuk-date-input__input govuk-input--width-2 @timeInRoleError"
                       id="TimeInRoleYears"
                       name="TimeInRoleYears"
                       type="number"
                       pattern="[0-9]*"
                       sfa-validation-for="TimeInRoleYears" />
            </div>
        </div>
        <div class="govuk-date-input__item">
            <div class="govuk-form-group" sfa-validation-for="TimeInRoleMonths">
                <label class="govuk-label govuk-date-input__label" for="TimeInRoleMonths">Months</label>
                <input value="@Model.TimeInRoleMonths"
                       class="govuk-input govuk-date-input__input govuk-input--width-2 @timeInRoleError"
                       id="TimeInRoleMonths"
                       name="TimeInRoleMonths"
                       type="number"
                       pattern="[0-9]*"
                       sfa-validation-for="TimeInRoleMonths" />
            </div>
        </div>
            
    </div>
</div>

<div class="govuk-form-group  @((showIsPartOfOtherOrgError) ? "govuk-form-group--error" : "")" sfa-validation-for="IsPartOfOtherOrgThatGetsFunding" sfa-validationerror-class="form-group-error">
    <p class="govuk-label">Is this person part of any other organisations?</p>
    @if (showErrors)
    {
            @foreach(var errorMessage in errorMessages.Where(x => x.Field == "IsPartOfOtherOrgThatGetsFunding"))
            {
                <span class="govuk-error-message">
                    @errorMessage.ErrorMessage
                </span>
            }
    }
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <div class="govuk-radios__item">
            <input class="govuk-radios__input"
                   type="radio"
                   id="IsPartOfOtherOrgThatGetsFunding"
                   name="IsPartOfOtherOrgThatGetsFunding"
                   value="Yes"
                   data-aria-controls="conditional-IsPartOfOtherOrgThatGetsFunding"
                   @checkedOtherOrgYes
                   />
            <label class="govuk-label govuk-radios__label" for="IsPartOfOtherOrgThatGetsFunding">Yes</label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-IsPartOfOtherOrgThatGetsFunding">
            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="750">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="IsPartOfOtherOrgThatGetsFunding_1">Enter the names of all these organisations</label>
                    <span id="OtherOrgName-hint" class="govuk-hint">
                        You also need to include which of these organisations may receive funding directly from ESFA or as a subcontractor.
                    </span>
                    <textarea class="govuk-textarea govuk-js-character-count" id="OtherOrgName" name="OtherOrgName" rows="5" aria-describedby="with-hint-info OtherOrgName-hint">@Model.OtherOrgName</textarea>
                    <div id="OtherOrgName-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                        You can enter up to 750 characters
                    </div>
                </div>
            </div>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input"
                   type="radio"
                   id="IsPartOfOtherOrgThatGetsFunding_1"
                   name="IsPartOfOtherOrgThatGetsFunding"
                   value="No"
                   data-aria-controls="conditional-IsPartOfOtherOrgThatGetsFunding_1"
                   @checkedOtherOrgNo
                    />
            <label class="govuk-label govuk-radios__label" for="IsPartOfOtherOrgThatGetsFunding_1">No</label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-IsPartOfOtherOrgThatGetsFunding_1">
        </div>
    </div>
</div>