@using MoreLinq;
@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.AddEditManagementHierarchyViewModel

@{
    bool showErrors = Model.ErrorMessages != null && Model.ErrorMessages.Count > 0;
    var nameError = showErrors && Model.ErrorMessages.FirstOrDefault(x => x.Field == "FullName") != null ? "govuk-input--error" : "";
    var showNameError = !String.IsNullOrEmpty(nameError);
    var jobRoleError = showErrors && Model.ErrorMessages.FirstOrDefault(x => x.Field == "JobRole") != null ? "govuk-input--error" : "";
    var showJobRoleError = !String.IsNullOrEmpty(jobRoleError);

    var timeInRoleError = showErrors && Model.ErrorMessages.FirstOrDefault(x => x.Field == "TimeInRole") != null ? "govuk-input--error" : "";
    var showTimeInRoleError = !String.IsNullOrEmpty(timeInRoleError);
    var isPartOfOtherOrgError = showErrors && Model.ErrorMessages.FirstOrDefault(x => x.Field == "IsPartOfOtherOrgThatGetsFunding") != null ? "govuk-input--error" : "";
    var showIsPartOfOtherOrgError = !String.IsNullOrEmpty(isPartOfOtherOrgError);
 
    var errorMessages = Model.ErrorMessages != null ? Model.ErrorMessages.DistinctBy(x => x.ErrorMessage) : null;

    var checkedOtherOrgYes = Model.IsPartOfOtherOrgThatGetsFunding=="Yes" ? "checked": null;
    var checkedOtherOrgNo = Model.IsPartOfOtherOrgThatGetsFunding =="No" ? "checked": null;
}

<div class="govuk-form-group @(showNameError ? "govuk-form-group--error" : "")" sfa-validation-for="FullName" sfa-validationerror-class="form-group-error">
    <label for="FullName" class="govuk-label">Full name</label>
    @if (showErrors)
    {
        <span class="govuk-error-message">
            @foreach(var nameErrorMessage in errorMessages.Where(x => x.Field == "FullName"))
            {
                @Html.Raw(nameErrorMessage.ErrorMessage) <br />
            }
        </span>
    }
    <input type="text" class="govuk-input @nameError" asp-for="FullName" sfa-validation-for="PersonName" sfa-validationerror-class="form-control-error" />
</div>

<div class="govuk-form-group @(showJobRoleError ? "govuk-form-group--error" : "")" sfa-validation-for="JobRole" sfa-validationerror-class="form-group-error">
    <label for="JobRole" class="govuk-label">Job role</label>
    @if (showErrors)
    {
        <span class="govuk-error-message">
            @foreach(var jobRoleErrorMessage in errorMessages.Where(x => x.Field == "JobRole"))
            {
                @Html.Raw(jobRoleErrorMessage.ErrorMessage)  <br />
            }
        </span>
    }
    <input type="text" class="govuk-input @jobRoleError" asp-for="JobRole" sfa-validation-for="PersonJobRole" sfa-validationerror-class="form-control-error" />
</div>

<div class="govuk-form-group @((showTimeInRoleError) ? "govuk-form-group--error" : "")" sfa-validation-for="TimeInRoleMonths" sfa-validationerror-class="form-group-error">
    <p class="govuk-label">Time in role</p>
    <span class="govuk-hint" id="dob-hint">
        For example, 3 02
    </span>
    @if (showErrors)
    {
        <span class="govuk-error-message">
            @foreach (var timeInRoleMonthsMessage in errorMessages.Where(x => x.Field == "TimeInRole"))
            {
                @Html.Raw(timeInRoleMonthsMessage.ErrorMessage) <br />
            }
        </span>
    }
    <div class="govuk-date-input" id="timeInRole">
        <div class="govuk-date-input__item">
            <div class="govuk-form-group" sfa-validation-for="TimeInRoleYears">
                <label class="govuk-label govuk-date-input__label" for="TimeInRoleYears">Years</label>
                <input value="@Model.TimeInRoleYears"
                       class="govuk-input govuk-date-input__input govuk-input--width-2 @timeInRoleError"
                       id="TimeInRoleYears"
                       name="TimeInRoleYears"
                       type="number"
                       pattern="[0-9]*"
                       sfa-validation-for="TimeInRoleYears" />
            </div>
        </div>
        <div class="govuk-date-input__item">
            <div class="govuk-form-group" sfa-validation-for="TimeInRoleMonths">
                <label class="govuk-label govuk-date-input__label" for="TimeInRoleMonths">Months</label>
                <input value="@Model.TimeInRoleMonths"
                       class="govuk-input govuk-date-input__input govuk-input--width-2 @timeInRoleError"
                       id="TimeInRoleMonths"
                       name="TimeInRoleMonths"
                       type="number"
                       pattern="[0-9]*"
                       sfa-validation-for="TimeInRoleMonths" />
            </div>
        </div>
            
    </div>
</div>

<div class="govuk-form-group  @((showIsPartOfOtherOrgError) ? "govuk-form-group--error" : "")" sfa-validation-for="IsPartOfOtherOrgThatGetsFunding" sfa-validationerror-class="form-group-error">
    <p class="govuk-label">Is this person part of another organisation that receives funding directly from ESFA or as a subcontractor?</p>
    @if (showErrors)
    {
        <span class="govuk-error-message">
            @foreach(var errorMessage in errorMessages.Where(x => x.Field == "IsPartOfOtherOrgThatGetsFunding"))
            {
                @Html.Raw(errorMessage.ErrorMessage)  <br />
            }
        </span>
    }
    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
        <div class="govuk-radios__item">
            <input class="govuk-radios__input"
                   type="radio"
                   id="IsPartOfOtherOrgThatGetsFunding"
                   name="IsPartOfOtherOrgThatGetsFunding"
                   value="Yes"
                   data-aria-controls="conditional-IsPartOfOtherOrgThatGetsFunding"
                   @checkedOtherOrgYes
                   />
            <label class="govuk-label govuk-radios__label" for="IsPartOfOtherOrgThatGetsFunding">Yes</label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-IsPartOfOtherOrgThatGetsFunding">
            <div class="govuk-form-group">
                <label class="govuk-label" for="IsPartOfOtherOrgThatGetsFunding_1">Enter the organisation's name</label>
                <span id="OtherOrgName-hint" class="govuk-hint govuk-radios__hint">

                </span>
                <textarea class="govuk-textarea " id="OtherOrgName" name="OtherOrgName" rows="5">@Model.OtherOrgName</textarea>
            </div>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input"
                   type="radio"
                   id="IsPartOfOtherOrgThatGetsFunding_1"
                   name="IsPartOfOtherOrgThatGetsFunding"
                   value="No"
                   data-aria-controls="conditional-IsPartOfOtherOrgThatGetsFunding_1"
                   @checkedOtherOrgNo
                    />
            <label class="govuk-label govuk-radios__label" for="IsPartOfOtherOrgThatGetsFunding_1">No</label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-IsPartOfOtherOrgThatGetsFunding_1">
        </div>
    </div>
</div>