@using SFA.DAS.ApplyService.Web.ViewModels.Roatp;
@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ManagementHierarchy.ConfirmManagementHierarchyViewModel

@{
    ViewBag.Title = "Confirm management hierarchy";
    Layout = "_Layout";

    bool showErrors = TempData["ShowErrors"] as bool? ?? false;
    int numberOfTitles = 2;
}

@{ await Html.RenderPartialAsync("~/Views/Roatp/ApplicationHeader.cshtml"); }

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-l">@Model.SectionTitle</span>
            <h1 class="govuk-heading-xl">Confirm your organisation's management hierarchy for apprenticeships</h1>
        </div>
    </div>

    <table class="govuk-table">

        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                @foreach (var title in Model.ManagementHierarchyData.HeadingTitles)
                {
                    <th class="govuk-table__header" scope="col">@Html.Raw(title)</th>
                }
                <th class="govuk-table__header" scope="col"></th>
                <th class="govuk-table__header" scope="col"></th>
            </tr>
        </thead>
        <tbody class="govuk-table_body">
            @for (var index = 0; index < Model.ManagementHierarchyData.DataRows.Count; index++)
            {
                <tr class="govuk-table__row">
                    @foreach (var title in Model.ManagementHierarchyData.HeadingTitles.Take(numberOfTitles))
                    {
                        <td class="govuk-table__cell">@title</td>
                    }
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="@Url.Action("EditManagementHierarchy", "RoatpManagementHierarchy", new { Model.ApplicationId, index })">Change<span class="govuk-visually-hidden"> management hierarchy</span></a></td>
                    <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="@Url.Action("RemoveManagementHierarchy", "RoatpManagementHierarchy", new { Model.ApplicationId, index })">Remove<span class="govuk-visually-hidden"> management hierarchy</span></a></td>

                </tr>
            }
        </tbody>
    </table>
    @if (Model.ManagementHierarchyData.DataRows.Count < ConfirmPartnersViewModel.MaximumNumberOfPartners)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    <a class="govuk-link" href="@Url.Action("AddManagementHierarchy", "RoatpManagementHierarchy", new { Model.ApplicationId })">Add another person</a>
                </p>
            </div>
        </div>
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" asp-action="CompleteManagementHierarchySection">
                @Html.HiddenFor(x => x.ApplicationId)
                @Html.HiddenFor(x => x.GetHelpAction)

                <button type="submit" class="govuk-button govuk-!-margin-right-3">Continue</button>
                <a class="govuk-link das-inline-button-link govuk-link--no-visited-state" href="@Url.Action("Tasklist", "RoatpApplication", new {Model.ApplicationId, sequenceId = Model.SequenceId, sectionId = Model.SectionId, pageId = Model.PageId})">Return to this question later</a>
            </form>
            <partial name="~/Views/Roatp/GetHelpWithThisQuestion.cshtml" />
        </div>
    </div>
</main>


