@using SFA.DAS.ApplyService.Web.ViewModels.Roatp;
@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.ManagementHierarchy.ConfirmManagementHierarchyViewModel

@{
    ViewBag.Title = "Confirm management hierarchy";
    Layout = "_Layout";

    bool showErrors = TempData["ShowErrors"] as bool? ?? false;
    int numberOfTitles = Model.ManagementHierarchyData.HeadingTitles.Count;
}

@{ await Html.RenderPartialAsync("~/Views/Roatp/ApplicationHeader.cshtml"); }


@*<div class="grid-row">
    <form asp-controller="RoatpManagementHierarchy" asp-action="AddManagementHierarchy" method="get" name="backForm">
        @Html.HiddenFor(x => x.ApplicationId)
        <a href="JavaScript:document.backForm.submit();" class="govuk-back-link">Back</a>
    </form>
</div>*@

<div class="govuk-width-container">

    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <span class="govuk-caption-l">@Model.SectionTitle</span>
                <h1 class="govuk-heading-l">Confirm management hierarchy</h1>
            </div>
        </div>

        <table class="govuk-table">

            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    @foreach (var title in Model.ManagementHierarchyData.HeadingTitles)
                    {
                        <th class="govuk-table__header" scope="col">@Html.Raw(title)</th>
                    }
                    <th class="govuk-table__header" scope="col"></th>
                    <th class="govuk-table__header" scope="col"></th>
                </tr>
            </thead>
            <tbody class="govuk-table_body">
                @for (var index = 0; index < Model.ManagementHierarchyData.DataRows.Count; index++)
                {
                    <tr class="govuk-table__row">
                        @foreach (var column in Model.ManagementHierarchyData.DataRows[index].Columns.Take(numberOfTitles))
                        {
                            <td class="govuk-table__cell">@Html.Raw(column)</td>
                        }
                        @*<td class="govuk-table__cell"><a href="@Url.Action("EditPeopleInControl", "RoatpWhosInControlApplication", new { Model.ApplicationId, index })">Change</a></td>
                        <td class="govuk-table__cell"><a href="@Url.Action("RemovePeopleInControl", "RoatpWhosInControlApplication", new { Model.ApplicationId, index })">Remove</a></td>*@
                        <td class="govuk-table__cell"><a href="@Url.Action("EditManagementHierarchy", "RoatpManagementHierarchy", new { Model.ApplicationId, index })">Change</a></td>
                     
                        <td class="govuk-table__cell"><a href="@Url.Action("RemoveManagementHierarchy", "RoatpManagementHierarchy", new { Model.ApplicationId, index })">Remove</a></td>

                    </tr>
                }
            </tbody>
        </table>
        @if (Model.ManagementHierarchyData.DataRows.Count < ConfirmPartnersViewModel.MaximumNumberOfPartners)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body">
                        <a class="govuk-link" href="@Url.Action("AddManagementHierarchy", "RoatpManagementHierarchy", new { Model.ApplicationId })">Add another person</a>
                    </p>
                </div>
            </div>
        }

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" asp-action="CompleteManagementHierarchySection">
                    @Html.HiddenFor(x => x.ApplicationId)
                    @Html.HiddenFor(x => x.GetHelpAction)

                    <button type="submit" class="govuk-button">Confirm and continue</button>
                </form>
            </div>
        </div>
    </main>
    <partial name="~/Views/Roatp/GetHelpWithThisQuestion.cshtml" />
</div>


