@using MoreLinq;
@model SFA.DAS.ApplyService.Web.ViewModels.Roatp.AddEditManagementHierarchyViewModel

@{
    ViewBag.Title = $"Enter the {Model.Identifier}'s details";
    Layout = "_Layout";
}

@{ await Html.RenderPartialAsync("~/Views/Roatp/ApplicationHeader.cshtml"); }

<div class="grid-row">
    <form asp-controller="RoatpManagementHierarchy" asp-action="ConfirmManagementHierarchy" method="get" name="backForm">
        @Html.HiddenFor(x => x.ApplicationId)
        <a href="JavaScript:document.backForm.submit();" class="govuk-back-link">Back</a>
    </form>
</div>

@if (Model.ErrorMessages != null && Model.ErrorMessages.Count > 0)
{
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                @foreach (var errorMessage in Model.ErrorMessages.DistinctBy(x => x.ErrorMessage))
                {
                    <li><a sfa-validation-for="@errorMessage.Field">@errorMessage.ErrorMessage</a></li>
                }
            </ul>
        </div>
    </div>
}

<div class="govuk-width-container">

    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <span class="govuk-caption-l">@Model.SectionTitle</span>
                <h1 class="govuk-heading-l">Enter the @Model.Identifier's details</h1>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" asp-action="UpdateManagementHierarchyDetails">
                    @Html.HiddenFor(x => x.ApplicationId)
                    @Html.HiddenFor(x => x.Index)
                    @Html.HiddenFor(x => x.Identifier)
                    @Html.HiddenFor(x => x.GetHelpAction)

                    @{
                        await Html.RenderPartialAsync("~/Views/Roatp/ManagementHierarchy/AddEditManagementHierarchy.cshtml", Model);
                    }

                    <button type="submit" class="govuk-button">Confirm and continue</button>

                </form>
            </div>
        </div>

    </main>
    <partial name="~/Views/Roatp/GetHelpWithThisQuestion.cshtml" />
</div>


