@model SFA.DAS.ApplyService.Web.Controllers.PageViewModel

@{
    ViewBag.Title = "title";
}

<h1>@Model.Title</h1>

@if (Model.HasFeedback)
{
    <div class="govuk-inset-text">
        <h2 class="govuk=heading-l">Feedback:</h2>
        
        @foreach (var fb in Model.Feedback)
        {
            <span class="govuk-!-font-size-24">@fb.Message</span>
        }
    </div>
}


@if (!ViewData.ModelState.IsValid)
{
    <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
            There's a problem
        </h2>

    </div>
}

<form method="post" asp-action="SaveAnswers" asp-controller="Application">
    <ul>
        @foreach (var question in Model.Questions)
        {
            <li>
                <label>@Html.Raw(question.Label)</label>
                <p>@Html.Raw(question.Hint)</p>
                @Html.Partial($"~/Views/Application/Pages/Controls/_{question.Type}.cshtml", question)
            </li>
        }
    </ul>
    <button type="submit">Submit</button><br/>
    <a href="@Url.Action("Sequence", "Application", new {Model.ApplicationId, Model.SequenceId})">Return to summary</a>
</form>