@using Newtonsoft.Json
@using NPOI.HPSF.Wellknown
@using Remotion.Linq.Clauses
@model SFA.DAS.ApplyService.Web.Controllers.PageViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + (@Model.Title ?? "Page not active");
}

<div class="govuk-phase-banner govuk-width-container roatp__navigation">
    <nav>
        <ul id="navigation" class="roatp__navigation " aria-label="Top Level Navigation">
                                          
            <li class="roatp__navigation-item">

                <a class="govuk-header__link" href="@Url.Action("TaskList", "RoatpApplication", new { Model.ApplicationId })">Application overview</a>

            </li>

        </ul>
    </nav>
</div>

<div class="grid-row">
    <a class="govuk-back-link" href="@Url.Action("Back", "RoatpApplication", new { Model.ApplicationId, sequenceId = Model.SequenceId, sectionId = Model.SectionId, pageId = Model.PageId, redirectAction = "TaskList" })">Back</a>
</div>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model.Questions == null)
            {
                <h1 class="govuk-heading-xl">
                    Page not active
                </h1>
            }
            else
            {
                @if (!ViewData.ModelState.IsValid)
                {

                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                @foreach (var error in Model.ErrorMessages)
                                {
                                    <li>
                                        <a href="#@error.Field">@error.ErrorMessage</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }

                @if (Model.Questions.Count() != 1)
                {
                    var hasModelTitle = !string.IsNullOrEmpty(Model.Title);
                    var hasBodyText = !string.IsNullOrEmpty(Model.BodyText);

                    if ((hasModelTitle || hasBodyText) && Model.PageContext != null)
                    {
                        <span class="govuk-caption-xl">
                            @Html.Raw(Model.PageContext)
                        </span>
                    }

                    @if (hasModelTitle)
                    {
                        <h1 class="govuk-heading-xl">
                            @Html.Raw(Model.Title)
                        </h1>
                    }

                    @if (hasBodyText)
                    {
                        @Html.Raw(Model.BodyText)
                    }
                }

                @if (Model.HasFeedback)
                {
                    <div class="govuk-inset-text">
                        <h2 class="govuk-heading-l">Feedback</h2>
                        @foreach (var fb in Model.Feedback)
                        {
                            <p class="govuk-body">@Html.Raw(fb.Message)</p>
                        }
                    </div>
                }

                @* no action is specified for the form, post back to the get url to preserve the page hierarchy parameters *@
                    <form method="post" novalidate enctype="multipart/form-data" asp-action="SaveAnswers" asp-route-applicationId="@Model.ApplicationId"
                          asp-route-sectionId="@Model.SectionId" asp-route-sequenceId="@Model.SequenceId" asp-route-pageId="@Model.PageId">
                        <input type="hidden" id="ApplicationId" name="ApplicationId" value="@Model.ApplicationId" />
                        <input type="hidden" id="RedirectAction" name="RedirectAction" value="@Model.RedirectAction" />

                        @if (Model.Questions.Count() == 1)
                        {
                            foreach (var question in Model.Questions)
                            {
                                <div class="govuk-form-group @(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
                                    <fieldset class="govuk-fieldset">
                                        @if (question.Type == "Checkbox" || question.Type == "Radio" || question.Type == "ComplexRadio" || question.Type == "CheckboxList")
                                        {
                                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                                @if (Model.PageContext != null)
                                                {
                                                    <span class="govuk-caption-xl">
                                                        @Html.Raw(Model.PageContext)
                                                    </span>
                                                }
                                                <h1 class="govuk-fieldset__heading">
                                                    @Html.Raw(question.Label)
                                                </h1>
                                            </legend>
                                            if (!string.IsNullOrWhiteSpace(@Model.BodyText))
                                            {
                                                @Html.Raw(Model.BodyText)
                                            }
                                        }
                                        else
                                        {
                                            if (!string.IsNullOrWhiteSpace(@Model.BodyText))
                                            {
                                                <div>
                                                    @Html.Raw(Model.BodyText)
                                                </div>
                                            }
                                            @if (Model.PageContext != null)
                                            {
                                                <span class="govuk-caption-xl">
                                                    @Html.Raw(Model.PageContext)
                                                </span>
                                            }
                                            <h2 class="govuk-label-wrapper">
                                                <label class="govuk-label govuk-label--xl" for="@question.QuestionId">
                                                    @Html.Raw(question.Label)
                                                </label>
                                            </h2>
                                        }

                                        @if (question.QuestionBodyText != null)
                                        {
                                            @Html.Raw(question.QuestionBodyText)
                                        }

                                        @if (question.Hint != null)
                                        {
                                            <span class="govuk-hint">
                                                @Html.Raw(question.Hint)
                                            </span>
                                        }

                                        @if (question.Type == "ComplexRadio" && (question.ErrorMessages == null || question.ErrorMessages.Count == 0))
                                        {
                                            question.ErrorMessages = Model.ErrorMessages;
                                        }
                                        @{
                                            var questionType = question.Type.Replace("DataFed_", "");

                                        }

                                        @(await Html.PartialAsync($"~/Views/QuestionPartials/_{questionType}.cshtml", question))
                                    </fieldset>
                                </div>
                            }
                        }
                        else
                        {
                            foreach (var question in Model.Questions)
                            {
                                <div class="govuk-form-group @(question.ErrorMessages?.Any() ?? false ? "govuk-form-group--error" : "")">

                                    @if (question.Type == "Address")
                                    {
                                        <h2 class="govuk-heading-l">
                                            @Html.Raw(question.Label)
                                        </h2>
                                    }
                                    else
                                    {
                                        <label class="govuk-label govuk-label--m" for="@question.QuestionId">
                                            @Html.Raw(question.Label)
                                        </label>
                                    }

                                    @if (question.QuestionBodyText != null)
                                    {
                                        @Html.Raw(question.QuestionBodyText)
                                    }

                                    @if (question.Hint != "")
                                    {
                                        <span class="govuk-hint">
                                            @Html.Raw(question.Hint)
                                        </span>
                                    }

                                    @if (question.Type == "ComplexRadio" && (question.ErrorMessages == null || question.ErrorMessages.Count == 0))
                                    {
                                        question.ErrorMessages = Model.ErrorMessages;
                                    }

                                    @(await Html.PartialAsync($"~/Views/QuestionPartials/_{question.Type}.cshtml", question))
                                </div>
                            }
                        }

                        @* only a single Question of type Address is supported per page *@
                        @if (Model.Questions?.Exists(p => p.Type == "Address") ?? false)
                        {
                            @section Scripts {
                                <script src="@Url.Content("~/javascripts/lib/jquery/jquery.min.js")"></script>
                                <script src="@Url.Content("~/javascripts/lib/jqueryui/jquery-ui.min.js")"></script>
                                <script src="@Url.Content("~/javascripts/gov-uk-postcode-lookup-service.min.js")"></script>
                            }
                        }

                        @if (!Model.HideCTA)
                        {
                            <button type="submit" class="govuk-button">@Model.CTAButtonText</button>
                        }

                        @foreach (var linksConfiguration in Model.LinksConfiguration)
                        {
                            var first = true;
                            @foreach (var link in linksConfiguration.Links)
                            {
                                if (first && Model.SectionId != 1)
                                {
                                    <p class="govuk-body skipbutton" id="skipbutton">
                                        <a href="@Url.Action(link.Action, link.Controller, new {Model.ApplicationId, sequenceId = Model.SequenceId, sectionId = Model.SectionId, pageId = Model.PageId})">@link.Caption</a>
                                    </p>
                                }

                                else
                                {
                                    first = false;
                                    <p class="govuk-body govuk-!-margin-bottom-2">
                                        <a href="@Url.Action(link.Action, link.Controller, new {Model.ApplicationId, sequenceId = Model.SequenceId, sectionId = Model.SectionId, pageId = Model.PageId})">@link.Caption</a>
                                    </p>
                                }
                            }
                        }


                        <partial name="~/Views/Application/Pages/DetailsComponent.cshtml" for="Details" />
                    </form>
            }

        </div>
    </div>
</main>