@model SFA.DAS.ApplyService.Web.ViewModels.PageViewModel
@using SFA.DAS.ApplyService.Domain.Entities
@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + (@Model.Title ?? "Page not active");

    var hasSectionTitle = !string.IsNullOrEmpty(Model.SectionTitle);
}

<partial name="~/Views/Roatp/ApplicationHeader.cshtml" />


    @*<a class="govuk-back-link" asp-action="Back" asp-controller="RoatpApplication" asp-route-applicationId="@Model.ApplicationId" asp-route-sequenceId="@Model.SequenceId" asp-route-sectionId="@Model.SectionId" asp-route-pageId="@Model.PageId" asp-route-redirectAction="TaskList">Back</a>*@


<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model.Questions == null)
            {
                <h1 class="govuk-heading-xl">
                    Page not active
                </h1>
            }
            else
            {
                @if (!ViewData.ModelState.IsValid)
                {

                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                @foreach (var error in Model.ErrorMessages)
                                {
                                    <li>
                                        <a href="#@error.Field">@Html.Raw(error.ErrorMessage)</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }

                @if (Model.Questions.Count() != 1)
                {
                    var hasModelTitle = !string.IsNullOrEmpty(Model.Title);
                    var hasBodyText = !string.IsNullOrEmpty(Model.BodyText);

                    if (hasSectionTitle)
                    {
                        <span class="govuk-caption-xl">@Model.SectionTitle</span>
                    }

                    if ((hasModelTitle || hasBodyText) && !string.IsNullOrEmpty(Model.PageContext))
                    {
                        <span class="govuk-caption-xl">
                            @Html.Raw(Model.PageContext)
                        </span>
                    }

                    @if (Model.DisplayType == PageDisplayType.PagesWithSections || Model.DisplayType == PageDisplayType.OtherPagesInPagesWithSections)
                    {
                        <h1 class="govuk-heading-xl">
                            @Html.Raw(Model.BodyText)
                        </h1>
                    }
                    else
                    {
                        if (hasModelTitle)
                        {
                            <h1 class="govuk-heading-xl">
                                @Html.Raw(Model.Title)
                            </h1>
                        }

                        @if (hasBodyText)
                        {
                            @Html.Raw(Model.BodyText)
                        }
                    }
                }

                @if (Model.HasFeedback)
                {
                    <div class="govuk-inset-text">
                        <h2 class="govuk-heading-l">Feedback</h2>
                        @foreach (var fb in Model.Feedback)
                        {
                            <p class="govuk-body">@Html.Raw(fb.Message)</p>
                        }
                    </div>
                }

                @* no action is specified for the form, post back to the get url to preserve the page hierarchy parameters *@
                <form method="post" novalidate enctype="multipart/form-data" asp-action="SaveAnswers" asp-route-applicationId="@Model.ApplicationId"
                      asp-route-sectionId="@Model.SectionId" asp-route-sequenceId="@Model.SequenceId" asp-route-pageId="@Model.PageId">
                    <input type="hidden" asp-for="ApplicationId" />
                    <input type="hidden" asp-for="RedirectAction" />

                    @if (Model.Questions.Count() == 1)
                    {
                        foreach (var question in Model.Questions)
                        {
                            <div class="govuk-form-group @(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
                                <fieldset class="govuk-fieldset">
                                    @if (question.Type == QuestionType.Checkbox || question.Type == QuestionType.Radio || question.Type == QuestionType.ComplexRadio
                                      || question.Type == QuestionType.CheckboxList || question.Type == QuestionType.ComplexCheckboxList)
                                    {
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                            @if (Model.PageContext != null)
                                            {
                                                <span class="govuk-caption-xl">
                                                    @Html.Raw(Model.PageContext)
                                                </span>
                                            }
                                            @if (hasSectionTitle)
                                            {
                                                <span class="govuk-caption-xl">@Model.SectionTitle</span>
                                            }


                                            @if (Model.DisplayType == PageDisplayType.PagesWithSections || Model.DisplayType == PageDisplayType.OtherPagesInPagesWithSections)
                                            {
                                                <h1 class="govuk-heading-xl">
                                                    @Html.Raw(Model.BodyText)
                                                </h1>

                                            }
                                            else
                                            {
                                                <h1 class="govuk-fieldset__heading">
                                                    @Html.Raw(question.Label)
                                                </h1>
                                            }
                                        </legend>

                                        if (!string.IsNullOrWhiteSpace(@Model.BodyText) && Model.DisplayType != PageDisplayType.PagesWithSections 
                                            && Model.DisplayType != PageDisplayType.OtherPagesInPagesWithSections)
                                        {
                                            @Html.Raw(Model.BodyText)
                                        }
                                        else
                                        {
                                            @if (Model.DisplayType == PageDisplayType.PagesWithSections || Model.DisplayType == PageDisplayType.OtherPagesInPagesWithSections)
                                            {
                                                <label class="govuk-label">
                                                    @Html.Raw(question.Label)
                                                </label>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (!string.IsNullOrWhiteSpace(@Model.BodyText))
                                        {
                                            <div>
                                                @Html.Raw(Model.BodyText)
                                            </div>
                                        }

                                        @if (Model.PageContext != null)
                                        {
                                            <span class="govuk-caption-xl">
                                                @Html.Raw(Model.PageContext)
                                            </span>
                                        }

                                        @if (hasSectionTitle)
                                        {
                                            <span class="govuk-caption-xl">@Model.SectionTitle</span>
                                        }

                                        <h2 class="govuk-label-wrapper">
                                            <label class="govuk-label govuk-label--xl" for="@question.QuestionId">
                                                @Html.Raw(question.Label)
                                            </label>
                                        </h2>
                                    }

                                    @if (question.QuestionBodyText != null)
                                    {
                                        @Html.Raw(question.QuestionBodyText)
                                    }

                                    @if (question.Hint != null)
                                    {
                                        <span class="govuk-hint">
                                            @Html.Raw(question.Hint)
                                        </span>
                                    }

                                    @if ((question.Type == QuestionType.ComplexRadio || question.Type == QuestionType.ComplexCheckboxList)
                                       && (question.ErrorMessages == null || question.ErrorMessages.Count == 0))
                                    {
                                        question.ErrorMessages = Model.ErrorMessages;
                                    }

                                    @{
                                        var questionType = question.Type.Replace("DataFed_", "");
                                    }
                                    
                                @if (question.Type == QuestionType.FileUpload)
                                {
                                    <p class="govuk-body">Upload a file</p>
                                }                                   
                                    <partial name="@($"~/Views/QuestionPartials/_{question.Type}.cshtml")" for="@question" />

                                </fieldset>
                            </div>
                        }
                    }
                    else
                    {
                        foreach (var question in Model.Questions)
                        {
                            <div class="govuk-form-group @(question.ErrorMessages?.Any() ?? false ? "govuk-form-group--error" : "")">

                                @if (question.Type == QuestionType.Address)
                                {
                                    <h2 class="govuk-heading-l">
                                        @Html.Raw(question.Label)
                                    </h2>
                                }
                                else
                                {
                                    <label class="govuk-label" for="@question.QuestionId">
                                        @Html.Raw(question.Label)
                                    </label>
                                }

                                @if (question.QuestionBodyText != null)
                                {
                                    @Html.Raw(question.QuestionBodyText)
                                }

                                @if (question.Hint != "")
                                {
                                    <span class="govuk-hint">
                                        @Html.Raw(question.Hint)
                                    </span>
                                }

                                @if ((question.Type == QuestionType.ComplexRadio || question.Type == QuestionType.ComplexCheckboxList)
                                   && (question.ErrorMessages == null || question.ErrorMessages.Count == 0))
                                {
                                    question.ErrorMessages = Model.ErrorMessages;
                                }

                                <partial name="@($"~/Views/QuestionPartials/_{question.Type}.cshtml")" for="@question" />
                            </div>
                        }
                    }

                    @* only a single Question of type Address is supported per page *@
                    @if (Model.Questions?.Exists(p => p.Type == "Address") ?? false)
                    {
                        @section Scripts {
                            <script src="@Url.Content("~/javascripts/lib/jquery/jquery.min.js")"></script>
                            <script src="@Url.Content("~/javascripts/lib/jqueryui/jquery-ui.min.js")"></script>
                            <script src="@Url.Content("~/javascripts/gov-uk-postcode-lookup-service.min.js")"></script>
                        }
                    }

                    @if (Model.InfoText != null)
                    {
                        @Html.Raw(Model.InfoText)
                    }

                    <partial name="~/Views/Application/Pages/PeopleInControlComponent.cshtml" for="PeopleInControlDetails" />
                    <partial name="~/Views/Application/Pages/DetailsComponent.cshtml" for="Details" />

                    @if (!Model.HideCTA)
                    {
                        <button type="submit" class="govuk-button govuk-!-margin-right-3">@Model.CTAButtonText</button>
                    }

                    @foreach (var linksConfiguration in Model.LinksConfiguration)
                    {
                        var pageId = Model.PageId;
                        @foreach (var link in linksConfiguration.Links)
                        {

                            if (!string.IsNullOrEmpty(link.LinkPageId))
                            {
                                pageId = link.LinkPageId;
                            }

                            if (!String.IsNullOrWhiteSpace(link.CssClasses))
                            {

                                <a class="govuk-link @link.CssClasses" asp-action="@link.Action" asp-controller="@link.Controller" asp-route-applicationId="@Model.ApplicationId" asp-route-sequenceId="@Model.SequenceId" asp-route-sectionId="@Model.SectionId" asp-route-pageId="@pageId">@link.Caption</a>

                            }
                            else
                            {

                                <p class="govuk-body govuk-!-margin-bottom-6">
                                    <a class="govuk-link" asp-action="@link.Action" asp-controller="@link.Controller" asp-route-applicationId="@Model.ApplicationId" asp-route-sequenceId="@Model.SequenceId" asp-route-sectionId="@Model.SectionId" asp-route-pageId="@pageId">@link.Caption</a>
                                </p>

                            }
                        }
                    }

                </form>
            }

            <partial name="~/Views/Roatp/GetHelpWithThisQuestion.cshtml" />
        </div>
    </div>
</main>

